@import url(reset.css);

#wrapper {
    min-width: 1000px;
}

.content {
    width: 960px;
    position: relative;
    margin: 20px auto;
    padding: 20px;
}

.clear {
    clear: both;
}

body {
	background: #DBDBDB;
}

/*block1 ()*/
.block1 .content {
	background: #fff;
	border: 1px solid #ccc;
}

.block1 h2 {
	font: bold 40px sans-serif;
	text-align: center;
}

.block1 h4 {
	font: bold 15px sans-serif;
	text-align: right;
	padding: 20px 0 0 0;
}

.block1 p {
	font: 15px sans-serif;
	padding: 30px 0 0 0;
}

.block1 p span {
	font-weight: bold;
}

.block1 h3 {
	font: bold 20px sans-serif;
	text-transform: uppercase;
	padding: 30px 0 0 20px;
}

.block1 li {
	font: 14px sans-serif;
	padding: 10px 0 0 40px;
}

.block1 a {
	color: #1428FF;
}
/*Зокончился block1()*/