#intro {
  background: url("../img/mainbg.jpg") no-repeat top center;
  background-size: cover;
}

.top-nav-collapse {
  background-color: #3949ab !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #3949ab !important;
  }
}

#intro .h6 {
  font-weight: 300;
  line-height: 1.7;
}

.hm-gradient .full-bg-img {
  background: rgba(42, 27, 161, 0.7);
/*  background: linear-gradient(45deg, rgba(21, 76, 132, 0.5), rgba(21, 76, 132, 0.5) 100%);*/
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%);
}

@media (max-width: 450px) {
  .margins {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

#pricing .lead {
  opacity: 0.7;
}

#pricing .card-image {
  background: url("../img/architecture.jpg") no-repeat center center;
}

#pricing ul li {
  font-size: 1.1em;
}


.lead {font-weight: 400;}





.top-footer {
  background-color: #262D33;
  padding: 50px 0 50px;
  color: #bdbdbd;
}
.top-footer ul{
    list-style: none;
    padding-inline-start: 0;
}


.top-footer h3 {
  font-size: 16px;
  line-height: 1.5;
  color: #bdbdbd;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.top-footer p {
  font-size: 13px;
  line-height: 30px;
  color: #bdbdbd;
  font-weight: 300;
  letter-spacing: 1px;
    font-family: 'Istok Web', sans-serif;
    text-align:center;
}

.top-footer li a {
  font-size: 13px;
  line-height: 30px;
  color: #bdbdbd;
  font-weight: 300;
  letter-spacing: 1px;
  transition: color .3s;
  font-family: 'Istok Web', sans-serif;
  display: block;
}

.top-footer li a:hover {
  color: #00ACEE;
}

.footer-bottom {
  text-align: center;
  background-color: #1b1b1b;
  border-top: 1px solid #2c2c2c;
  padding: 30px 0;
}

.footer-bottom h5 {
  font-size: 12px;
  line-height: 1;
  color: #888888;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 7px;
  margin-bottom: 3px;
}

.footer-bottom h6 {
  font-size: 11px;
  line-height: 15px;
  color: #888888;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.footer-bottom a {
  color: #28ABE3;
}


@media only screen and (max-width: 767px) {
  .social-icon ul li, .social-icon ul li:first-child {
    margin: 15px;
  }
}



@media only screen and (min-width: 480px) and (max-width: 767px) {
  .top-footer li a:hover {
    color: #00ACEE;
  }

  .footer-bottom a {
    color: #00adef;
  }
}

.top-footer .fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: white;
}

.top-footer .fa:hover {
  opacity: 0.7;
  color: white;
}

.top-footer .fa-facebook {
  background: #3B5998;
  color: white;
}

.top-footer .fa-telegram {
  background: #55ACEE;
  color: white;
}

.top-footer .fa-youtube {
  background: #bb0000;
  color: white;
}

.top-footer .fa-instagram {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color: white;
}

.top-footer .fa-vk {
  background: #4A76A8;
  color: white;
}



/*
* Our Strategy
*/
.custom-step-item .step {
  position: relative;
  text-align: center;
  clear: both;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.custom-step-item .step:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -20px;
  height: 63px;
  border-left: 1px solid #e4e4e4;
}
.custom-step-item .step .step-number {
  display: block;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: -4px;
  line-height: 1;
}
.custom-step-item .step-content {
  margin-left: 80px;
}



.medal-icon{
    margin-left: 2rem;
    position: relative;
    margin-bottom: 1.5rem;
}

.medal-icon:before{
  display: block;
  content: ' ';
  background-image: url('../img/medal.svg');
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    left: -2.7rem;
  }

#program h3 {
      margin-bottom: 2rem;
}





.about-2 h3 {
margin-bottom: 44px;
}

.about-2 .checklist {
  padding-left: 30px;
  list-style: none;
}

.about-2 .checklist li {
  position: relative;
    margin-bottom: 44px;
    font-size: 20px;

}

.about-2 .checklist li:before {
  position: absolute;
  margin-right: 12px;
  margin-left: -45px;
  content: "\f00c";

    display: inline-block;
    font: normal normal normal 20px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


  color: #00adef;

  padding: 2px 8px;

}






/* accordion */

.accordion-panel {
/*  font-family: Helvetica, Arial, sans-serif;*/
  margin: 15px;
/*  max-width: 560px;*/
}
.accordion-panel .accordion {
  padding-top: 30px;
}
.accordion-panel .accordion dt {
  display: block;
  padding: 25px;
/*  background: #E3E1E2;*/


  background: #154E86;


  background: -webkit-linear-gradient( left, #154E86 0%, #00ACEE 100% );
  background: -moz-linear-gradient( left, #154E86 0%, #00ACEE 100% );

  color: #fff;
  cursor: pointer;
  position: relative;
  user-select: none;
}
.accordion-panel .accordion dd {
  height: 0;
  overflow: hidden;
  transition: height .35s ease-out;
  margin-left: 0;
  margin-bottom: 20px;
  background: #F4F4F4;
}
.accordion-panel .accordion .content {
  padding: 25px;
  overflow: auto;
}
.accordion-panel .plus-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  transition: transform 0.35s ease-out;
  position: absolute;
/*  right: 35px;*/
  right: 23px;
  top: 50%;
  margin-top: -12px;
}
.accordion-panel .plus-icon:before,
.accordion-panel .plus-icon:after {
  content: '';
  background: #fff;
  position: absolute;
}
.accordion-panel .plus-icon:before {
  width: 2px;
  height: 15px;
  margin-left: -0.5px;
  left: 50%;
}
.accordion-panel .plus-icon:after {
  width: 15px;
  height: 2px;
  margin-top: -0.5px;
  top: 50%;
  opacity: 1;
  transition: opacity 0.35s ease-out;
}
.accordion-panel .is-open .plus-icon {
  transform: rotate(90deg);
}
.accordion-panel .is-open .plus-icon:after {
  opacity: 0;
}
.accordion-panel .hidden {
  display: none;
}
.accordion-panel .open-btn,
.accordion-panel .close-btn {
  cursor: pointer;
  position: absolute;
  right: 0;
  color: #00ACEE;
/*  width: 90px;*/
}
.accordion-panel .buttons-wrapper {
  position: relative;
}
/*.accordion-panel .buttons-wrapper .plus-icon {
  position: absolute;
  right: 10px;
  top: 12px;
}*/



/* CALCULATOR */
#calc p{ margin-bottom: 0.5rem;}
.anychart-credits {display:none !important;}

.main {
    position: relative;
/*    width: 90%;*/
    max-width: 1200px;
/*    margin: 0 auto 40px;*/
    overflow: hidden;
/*    padding: 0 30px;*/
}

.sub_header {
    font-weight: 600;
        margin-bottom: 0.5rem;
}
.sub_value {
    font-weight: 600;
    font-size: 20px;
        margin-bottom: 0.1rem;
}
#param_dohod, #param_count {
    display: inline-block;
    width: auto;
    background-color: transparent;
    font-weight: bold;
/*    color: white;*/
    font-size: 20px;
    border:none
}
.main-param {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.main-param__block {
/*    width: 35%;
    margin: 0 6% 0 0;*/
    margin-top:1%;
}

.main-param__block h5{
font-weight:bold;
}
.main-paramcharts {
/*    display: flex;
    justify-content: space-between;*/
    padding-top: 50px;
}
.main-dopparam {
/*    width: 35%;*/
}
.column-charts {
    display: flex;
/*    width:62%;
    padding: 0 30px;*/
    background: url("../img/polos.png");
}
.column-charts__item {
/*    width: 33%;*/
    min-height:400px
}
.param_sred_margin {
    margin-top: 47px;
}


.p-15 {
      padding: 15px;
}

.p-lg {
    padding: 20px !important;
}

.p-xlg {
    padding: 30px;
    padding-bottom: 0;
}

.background-color-primary {
    background-color: #F9FAFB;
}

.about-video {
  background: url("../img/about-video.jpg");
  position: relative;
  background-size: cover;
  background-position: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-video .play-video-custom {
  display: inline-block;
}

.play-video-custom img {
  will-change: transform;
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease;
  transition: transform 0.3s ease;
}
.play-video-custom:hover img {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.custom-about-content {
  border-style: dashed;
  border-width: 2px;
}


.custom-about-content .about-title p {
  line-height: 1;
}


@media (min-width: 1500px) {
  .custom-about-content .center {
    text-align: left !important;
  }
  .custom-about-content .center .about-btn-tickets {
    margin-right: 20px;
  }
}

@media (max-width: 991px) {

  .about-video {
    min-height: 300px;
  }
  .about-video::before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 40%;
  }
  .about-video .play-video-custom {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .custom-about-content {
    text-align: center;
  }
  .custom-about-content .about-title {
    display: inline-block;
    text-align: left;
  }
  .custom-about-content .btn {
    margin-left: 10px;
    margin-right: 10px;
  }

  .custom-about-carousel > .wrapper {
    position: inherit;
    height: 400px;
  }
}




/*===== Vertical Timeline =====*/
#conference-timeline {
  position: relative;
/*  max-width: 920px;*/
  width: 100%;
/*  margin: 0 auto;*/
}
#conference-timeline .timeline-start,
#conference-timeline .timeline-end {
display: table;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    background: #fff;
    padding: 5px;
    color: #fff;
    max-width: 9%;
    width: 100%;
    text-align: center;
    /* margin: 0 auto; */
position: relative;
    z-index: 1;
}
#conference-timeline .conference-center-line {
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
/*  left: 50%;*/
left: 50px;
  margin-left: -2px;
  background: #154E86;
  z-index: 0;
}
#conference-timeline .conference-timeline-content {
/*  padding-top: 67px;
  padding-bottom: 67px;*/
}
.timeline-article {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
/*  margin: 20px 0;*/
}
.timeline-article .content-left-container,
.timeline-article .content-right-container {
/*  max-width: 44%;*/
  width: 100%;
  margin-left: 70px;
}

.timeline-article .content-left,
.timeline-article .content-right {
  position: relative;
  width: auto;

      background: none;

/*  padding: 27px 25px;*/
    padding: 0 25px;
}
.timeline-article p {
/*  margin: 0 0 0 60px;*/
  padding: 0;
  font-weight: 400;
  color: #242424;
  font-size: 14px;
  line-height: 24px;
  position: relative;
}
.timeline-article p span.article-number {
  position: absolute;
  font-weight: 300;
  font-size: 44px;
  top: 10px;
  left: -60px;
  color: #00b0bd;
}


.timeline-article .content-left:before,
.timeline-article .content-right:before{
  position: absolute;
  top: 20px;
  font-size: 23px;
  font-family: "FontAwesome";
  color: #fff;
}

.timeline-article .img-fluid{
      max-width: 70%;
    height: auto;
    position:relative;
}

/*===== // Vertical Timeline =====*/

/*===== Resonsive Vertical Timeline =====*/
@media only screen and (max-width: 830px) {
  #conference-timeline .timeline-start,
  #conference-timeline .timeline-end {
    margin: 0;
  }
  #conference-timeline .conference-center-line {
    margin-left: 0;
    left: 50px;
  }
  .timeline-article .meta-date {
    margin-left: 0;
    left: 20px;
  }
  .timeline-article .content-left-container,
  .timeline-article .content-right-container {
    max-width: 100%;
    width: auto;
    float: none;
    margin-left: 70px;
    min-height: 53px;
  }
  .timeline-article .content-left-container {
    margin-bottom: 20px;
  }
  .timeline-article .content-left,
  .timeline-article .content-right {
    padding: 10px 25px;
    min-height: 65px;
  }
  .timeline-article .content-left:before {
    content: "\f0d9";
    right: auto;
    left: -8px;
  }
  .timeline-article .content-right:before {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .timeline-article p {
    margin: 0;
  }
  .timeline-article p span.article-number {
    display: none;
  }

}
/*===== // Resonsive Vertical Timeline =====*/




/* arrows */

.botline1 {
    position: absolute;
    top: 266px;
    left: 206px;
}

.botline2 {
    position: absolute;
top: 271px;
    right: 321px;
  }

.botline3 {
    position: absolute;
    top: 338px;
    left: 229px;
    width: 70%;
}

.botline4 {
    position: absolute;
    top: 338px;
    left: -210px;
    width: 70%;
}


@media (max-width:768px){
  .botline1, .botline2, .botline3, .botline4{display:none;}

  .rcr div:nth-child(1) {
  order: 2;
}

  .rcr div:nth-child(2) {
  order: 1;
}

#conference-timeline .conference-center-line{
  left: 23px;
}

}



.result-icon{
  max-width:100px;
}







#otzivi .card-body{
/*    border-top: 10px solid #00adef;
    position: relative;*/
    padding:0;
}

#otzivi .card-body{
/*    border-top: 10px solid #00adef;
    position: relative;*/
    padding:0;
}

#otzivi blockquote {
  width: 100%;
  max-width: 600px;
    border-left: 0;
        padding: 0 1rem;
/*  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);*/
}
#otzivi blockquote .blockquote-content {
  width: 100%;
  display: block;
  overflow: hidden;
  border-top: 10px solid #00adef;
  background-color: #fff;
  position: relative;
}
#otzivi blockquote .blockquote-content:before {
 /* background-color: #F9FAFB; */
    content: " ";
    position: absolute;
    z-index: 1;
    /* top: 20px; */
    right: 0;
    content: "\201C";
    display: inline-block;
    font: normal normal normal 20px/1 FontAwesome;
    font-size: 200px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #f6f6f6;
    padding: 2px 8px;

}

#otzivi blockquote .blockquote-content p {
  position: relative;
  font-style: oblique;
  z-index: 2;
  padding-left: 1rem;
  font-size: 20px;
}


#otzivi .author{
  position: relative;

    z-index: 2;
    padding: 1rem;
    font-size: 20px;
    text-align:center;
}




        .testimonial{
            border-right: 4px solid #00ACEE;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
            padding: 30px 30px 30px 150px;
            margin: 0 15px 30px 15px;
            overflow: hidden;
            position: relative;
background-color: #fff;

flex: 2;
        }
        .testimonial:before{
            content: "";
            position: absolute;
            bottom: -4px;
            left: -17px;
            border-top: 25px solid #00ACEE;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
            transform: rotate(45deg);
        }
        .testimonial .pic{
    display: inline-block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 60px;
        left: 20px;
        }
        .testimonial .pic img{
            width: 100%;
            height: auto;
        }
        .testimonial .description{
            line-height: 25px;
            margin-bottom: 15px;

    padding: 0;
    list-style: none;
        }
        .testimonial .title{
            display: inline-block;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: #00ACEE;
            margin: 0;
        }
        .testimonial .post{
            display: inline-block;
            font-size: 17px;
            color: #00ACEE;
            font-style:italic;
        }

        @media only screen and (max-width: 767px){
            .testimonial{
                padding: 20px;
                text-align: center;
            }
            .testimonial .pic{
                display: block;
                position: static;
                margin: 0 auto 15px;
            }
        }


        .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
          background: #00ACEE !important;
        }

        .testimonial strong{
          font-weight:700;
        }

.owl-carousel .owl-stage {
  display: flex;
}

.owl-carousel .owl-item {
  display: flex;
  flex: 0 0 auto;
}


@media (max-width:450px){
   .column-charts{
    display:none;
   }
}





/* PRICE TABLES */



#variants .tile{
  width: 100%;
  background:#fff;
  border-radius:5px;
  box-shadow:0px 2px 3px -1px rgba(151, 171, 187, 0.7);
  float:left;
    transform-style: preserve-3d;
    margin: 10px 5px;

}

#variants .header{
    background: #154E86;
    background: -webkit-linear-gradient( left, #154E86 0%, #00ACEE 100% );
    background: -moz-linear-gradient( left, #154E86 0%, #00ACEE 100% );
  border-bottom:1px solid #ebeff2;
  padding:19px 0;
  text-align:center;
  color:#fff;
  font-size:600;
  font-size:19px;
  position:relative;
}





#variants .dates{
  border:1px solid #ebeff2;
  border-radius:5px;
  padding:20px 0px;
  margin:10px 20px;
  font-size:16px;
  color:#5aadef;
  font-weight:600;
  overflow:auto;
}
#variants .dates div{
  float:left;
  width:50%;
  text-align:center;
  position:relative;
}
#variants .dates strong,
#variants .stats strong{
  display:block;
  color:#adb8c2;
  font-size:11px;
  font-weight:700;
}
#variants .dates span{
  width:1px;
  height:40px;
  position:absolute;
  right:0;
  top:0;
  background:#ebeff2;
}
#variants .stats{
  border-top:1px solid #ebeff2;
  background:#f7f8fa;
  overflow:auto;
  padding:15px 0;
  font-size:16px;
  color:#59687f;
  font-weight:600;
  border-radius: 0 0 5px 5px;
}
#variants .stats div{
  border-right:1px solid #ebeff2;
  width: 33.33333%;
  float:left;
  text-align:center
}

#variants .stats div:nth-of-type(3){border:none;}

#variants div.footer {

  position: relative;
  margin: 20px 5px;
}




#variants .price-old { color: #999; }


.btred {
  background-color:#96021a;
}