<IfModule mod_rewrite.c>
AddDefaultCharset utf-8
AddCharset utf-8 *

RewriteEngine On



RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]


RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]



#RewriteRule ^web-2$ index-2.php [QSA,L,NC]
#RewriteRule ^web-3$ index-3.php [QSA,L,NC]



Redirect 301 /web/2603 https://proprodazhy.ru/web/1/
Redirect 301 /web/2603-2 https://proprodazhy.ru/web/2/
Redirect 301 /web/2603-3 https://proprodazhy.ru/web/3/


</IfModule>


