@font-face{
	font-family: 'Neo Sans Pro';
	src: url(../fonts/NeoSansPro.eot?),
		 url(../fonts/NeoSansPro.ttf),
		 url(../fonts/NeoSansPro.svg),
		 url(../fonts/NeoSansPro.woff);
}
@font-face{
	font-family: 'Neo Sans Pro Bold';
	src: url(../fonts/NeoSansProBold.eot?),
		 url(../fonts/NeoSansProBold.ttf),
		 url(../fonts/NeoSansProBold.svg),
		 url(../fonts/NeoSansProBold.woff);
}