@import url(reset.css);
@import url(fonts.css);

body {
	color: #363636;
}

#wrapper {
	min-width: auto;
}

.content {
	max-width: 1170px;
	position: relative;
	margin: 0 auto;
}

.clear {
	clear: both;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

/* block1 (Шапка) */
.block1 {
	background: url(../images/block1.jpg) center top no-repeat;
	padding-bottom: 126px;
}

.block1 .log {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-left: -9px;
	padding-top: 24px;
}

.block1 .log .logo {
	flex-shrink: 0;
}

.block1 .log p {
	font: 16px 'MontserratBold', sans-serif;
	letter-spacing: 1px;
	padding-left: 42px;
}

.block1 .f {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-top: 95px;
}

.block1 .num {
	width: 20px;
	padding-bottom: 47px;
}

.block1 .num p {
	font: 14px 'MontserratBlack', sans-serif;
	letter-spacing: 1px;
}

.block1 .num .p1 {
	color: #606D88;
}

.block1 .num .p2 {
	color: #ABB9D4;
}

.ptimer{
	color: #000000;
	margin: 0px auto;
	font: 14px 'MontserratMedium', sans-serif;
	line-height: 1.4em;
	padding-top: 12px;
}

.block1 .num .vpl {
	width: 2px;
	height: 89px;
	background: #ABB9D4;
	margin: 13px auto;
}

.block1 .q {
	width: 450px;
	margin-left: 50px;
}

.block1 .q h3 {
	font: 70px 'BebasNeueBold', sans-serif;
	color: #232C60;
	letter-spacing: 3.5px;
}

.block1 .q h2 {
	font: 97px 'BebasNeueBold', sans-serif;
	color: #232C60;
	margin-top: -8px;
	letter-spacing: 5px;
}

.block1 .q .p1 {
	font: 14px 'MontserratMedium', sans-serif;
	line-height: 1.1em;
	padding-top: 0px;
}

.block1 .q .p1 span {
	color: #ED1D24;
}

.block1 .q .wp-a {
	margin-top: 51px;
}

.block1 .q .wp-a a {
	text-decoration: none;
	color: #fff;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	border: 1px solid #ED1D24;
	border-radius: 30px;
	padding: 6px;
}

.block1 .q .wp-a .b-a {
	background: #ED1D24;
	border-radius: 5px;
	display: inline-block;
	border-radius: 30px;
	-webkit-box-shadow: 0 30px 70px #FDE4E5;
	box-shadow: 0 30px 70px #FDE4E5;
}

.block1 .q .wp-a .b-a p {
	font: 16px "MontserratBold", sans-serif;
	letter-spacing: 2px;
	padding: 17px 43px 17px 37px;
	color: #fff;
	display: inline-block;
}

.block1 .q .wp-a .b-a .arrow {
	display: inline-block;
	margin-right: 26px;
}

.block1 .q .wp-a a:hover {
	border-color: #fff;
}
/* The and block1 (Шапка) */

/* block2 (Меньше слов, больше дела) */
.block2 {

}

.block2 .num {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-top: 146px;
}

.block2 .num p {
	font: 14px 'MontserratBlack', sans-serif;
	letter-spacing: 1px;
}

.block2 .num .p1 {
	color: #606D88;
}

.block2 .num .p2 {
	color: #ABB9D4;
}

.block2 .num .pl {
	height: 2px;
	width: 89px;
	background: #ABB9D4;
	margin: 0 18px;
}

.block2 .f {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.block2 h2 {
	font: 48px 'BebasNeueBold', sans-serif;
	color: #232C60;
	letter-spacing: 2.4px;
	padding: 10px 0 0 142px;
}

.block2 .b {
	width: 746px;
}

.block2 .b .p1 {
	font: 248px 'MontserratMedium', sans-serif;
	color: #E8ECF3;
	margin-top: -38px;
}

.block2 .b .p2 {
	font: 16px 'MontserratMedium', sans-serif;
	letter-spacing: 0.5px;
	line-height: 1.4em;
	padding: 0px 0 0 74px;
	margin-top: -204px;
}

.block2 .b .p2 span {
	color: #ED1D24;
}

.block2 .b ul {
	margin-top: 69px;
}

.block2 .b li {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	letter-spacing: 0.6px;
	margin-top: 45px;
}

.block2 .b li .il {
	flex-shrink: 0;
}

.block2 .b li .il img {
	-webkit-box-shadow: 0 30px 50px #E4E4E4;
	box-shadow: 0 30px 50px #E4E4E4;
	border-radius: 50%;
}


.block2 .b li .q {
	margin-left: 50px;
}

.block2 .b li h3 {
	font: 16px 'MontserratBold', sans-serif;
}

.block2 .b li p {
	font: 14px 'MontserratMedium', sans-serif;
	line-height: 1.42em;
	padding: 24px 111px 0 0;
}

.block2 .i1 {
	flex-shrink: 0;
	margin: 109px 0 0 0;
}
/* The and block2 (Меньше слов, больше дела) */

/* block3 (Для кого) */
.block3 {

}

.block3 .num {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-top: 86px;
}

.block3 .num p {
	font: 14px 'MontserratBlack', sans-serif;
	letter-spacing: 1px;
}

.block3 .num .p1 {
	color: #606D88;
}

.block3 .num .p2 {
	color: #ABB9D4;
}

.block3 .num .pl {
	height: 2px;
	width: 89px;
	background: #ABB9D4;
	margin: 0 18px;
}

.block3 h2 {
	font: 48px 'BebasNeueBold', sans-serif;
	color: #232C60;
	letter-spacing: 2.4px;
	padding: 10px 0 0 142px;
}

.block3 .f {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.block3 .b {
	width: 258px;
	margin: 70px 15px 0;
	text-align: center;
	letter-spacing: 0.5px;
}

.block3 .b .p1 {
	font: 16px 'MontserratBold', sans-serif;
	padding-top: 17px;
}

.block3 .b .p2 {
	font: 14px 'MontserratMedium', sans-serif;
	padding-top: 19px;
	line-height: 1.42em;
}
/* The and block3 (Для кого) */

/* block4 (7 ключевых элементов) */
.block4 {

}

.block4 .num {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-top: 145px;
}

.block4 .num p {
	font: 14px 'MontserratBlack', sans-serif;
	letter-spacing: 1px;
}

.block4 .num .p1 {
	color: #606D88;
}

.block4 .num .p2 {
	color: #ABB9D4;
}

.block4 .num .pl {
	height: 2px;
	width: 89px;
	background: #ABB9D4;
	margin: 0 18px;
}

.block4 h2 {
	font: 48px 'BebasNeueBold', sans-serif;
	color: #232C60;
	letter-spacing: 2.4px;
	padding: 10px 0 0 142px;
}

.block4 h2 span {
	color: #ED1D24;
}

.block4 .f {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin-top: 89px;
}

.block4 .i1 {
	flex-shrink: 0;
	margin: 0 2% 0;
}

.block4 .b {
	width: 435px;
	margin: 0 2% 0;
}

.block4 .b h3 {
	font: 48px 'MontserratBold', sans-serif;
	letter-spacing: 3px;
}

.block4 .b h4 {
	font: 30px 'MontserratBold', sans-serif;
	line-height: 1.6em;
	letter-spacing: 0.7px;
	padding-top: 12px;
}

.block4 .b ul {
	margin-top: 54px;
}

.block4 .b li {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 19px;
}

.block4 .b li .il {
	flex-shrink: 0;
}

.block4 .b li p {
	font: 16px 'MontserratMedium', sans-serif;
	line-height: 1.6em;
	padding-left: 32px;
}

.block4 .wp-a {
	margin-top: 85px;
	text-align: center;
}

.block4 .wp-a a {
	text-decoration: none;
	color: #fff;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	border: 1px solid #ED1D24;
	border-radius: 30px;
	padding: 6px;
}

.block4 .wp-a .b-a {
	background: #ED1D24;
	border-radius: 5px;
	display: inline-block;
	border-radius: 30px;
	-webkit-box-shadow: 0 30px 70px #FDE4E5;
	box-shadow: 0 30px 70px #FDE4E5;
}

.block4 .wp-a .b-a p {
	font: 16px "MontserratBold", sans-serif;
	letter-spacing: 2px;
	padding: 17px 58px 17px 58px;
	color: #fff;
	display: inline-block;
}

.block4 .wp-a .b-a .arrow {
	display: inline-block;
	margin-right: 26px;
}

.block4 .wp-a a:hover {
	border-color: #fff;
}
/* The and block4 (7 ключевых элементов) */

/* block5 (Дополнительные материалы) */
.block5 .num {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-top: 146px;
}

.block5 .num p {
	font: 14px 'MontserratBlack', sans-serif;
	letter-spacing: 1px;
}

.block5 .num .p1 {
	color: #606D88;
}

.block5 .num .p2 {
	color: #ABB9D4;
}

.block5 .num .pl {
	height: 2px;
	width: 89px;
	background: #ABB9D4;
	margin: 0 18px;
}

.block5 h2 {
	font: 48px 'BebasNeueBold', sans-serif;
	color: #232C60;
	letter-spacing: 2.4px;
	padding: 10px 0 0 142px;
}

.block5_p1 {
	font: 16px 'MontserratMedium', sans-serif;
	line-height: 1.5em;
	letter-spacing: 0.5px;
	padding: 58px 100px 0 70px;
}

.block5_p1 span {
	color: #ED1D24;
}

.block5 h3 {
	font: 30px 'MontserratBold', sans-serif;
	line-height: 1.6em;
	letter-spacing: 0.5px;
	padding: 52px 0 63px 70px;
}

.block5 .f {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 0 0 70px;
}

.block5 .f .i img {
	-webkit-box-shadow: 0 20px 50px rgba(0,0,0,0.3);
	box-shadow: 0 20px 50px rgba(0,0,0,0.3);
	border-radius: 30px;
}

.block5 .f .i5 {
	margin-top: -13.1%;
}

.block5 .f .i6 {
	margin-top: 72px;
}

.block5 .f .i7 {
	margin-top: -4.1%;
}

.block5 .f .i8 {
	margin-top: -10.15%;
}

.block5 .f .i9 {
	margin-top: -20.9%;
}

.block5 .f .i10 {
	margin-top: 72px;
}

.block5 .f .i11 {
	margin-top: 5px;
}

.block5 .f .i12 {
	margin-top: -8.4%;
}

.block5 .f .i13 {
	margin-top: -13.6%;
}

.block5 .f4 {
	justify-content: flex-end;
}

.block5 .f4 .i {
	margin: 0 0 0 5.4%;
}

.block5 .f .i14 {
	margin-top: -15.85%;
}

.block5 .f .i15 {
	margin-top: -12.9%;
}
/* The and block5 (Дополнительные материалы) */

/* block6 (Примеры и разборы) */
.block6 h2 {
	font: 30px 'MontserratBold', sans-serif;
	padding: 83px 0 68px 70px;
	letter-spacing: 0.5px;
}

.block6 .f {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin: 0 0 0 70px;
}

.block6 .f3 {
	justify-content: center;
}

.block6 .f .i img {
	-webkit-box-shadow: 0 20px 50px rgba(0,0,0,0.3);
	box-shadow: 0 20px 50px rgba(0,0,0,0.3);
	border-radius: 36px;
}

.block6 .f .i4 {
	margin-top: 70px;
}

.block6 .f .i5 {
	margin-top: 18px;
}

.block6 .f .i6 {
	margin-top: 18px;
}

.block6 .f .i7 {
	margin-top: -3.4%;
}
/* The and block6 (Примеры и разборы) */

/* block7 (Подробная интелект-карта) */
.block7 h2 {
	font: 30px 'MontserratBold', sans-serif;
	text-align: center;
	letter-spacing: 0.5px;
	padding-top: 86px;
}

.block7 .i1 {
	text-align: center;
	margin-top: 80px;
}

.block7 .i1 img {
	-webkit-box-shadow: 0 20px 50px rgba(0,0,0,0.3);
	box-shadow: 0 20px 50px rgba(0,0,0,0.3);
	border-radius: 52px;
}

.block7 .wp-a {
	margin-top: 89px;
	text-align: center;
}

.block7 .wp-a a {
	text-decoration: none;
	color: #fff;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	border: 1px solid #ED1D24;
	border-radius: 30px;
	padding: 6px;
}

.block7 .wp-a .b-a {
	background: #ED1D24;
	border-radius: 5px;
	display: inline-block;
	border-radius: 30px;
	-webkit-box-shadow: 0 30px 70px #FDE4E5;
	box-shadow: 0 30px 70px #FDE4E5;
}

.block7 .wp-a .b-a p {
	font: 16px "MontserratBold", sans-serif;
	letter-spacing: 2px;
	padding: 17px 40px 17px 46px;
	color: #fff;
	display: inline-block;
}

.block7 .wp-a .b-a .arrow {
	display: inline-block;
	margin-right: 26px;
}

.block7 .wp-a a:hover {
	border-color: #fff;
}
/* The and block7 (Подробная интелект-карта) */

/* block8 (Автор) */
.block8 .num {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-top: 146px;
}

.block8 .num p {
	font: 14px 'MontserratBlack', sans-serif;
	letter-spacing: 1px;
}

.block8 .num .p1 {
	color: #606D88;
}

.block8 .num .p2 {
	color: #ABB9D4;
}

.block8 .num .pl {
	height: 2px;
	width: 89px;
	background: #ABB9D4;
	margin: 0 18px;
}

.block8 h2 {
	font: 48px 'BebasNeueBold', sans-serif;
	color: #232C60;
	letter-spacing: 2.4px;
	padding: 10px 0 0 142px;
}

.block8 .f {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-top: 35px;
}

.block8 .f .b {
	width: 435px;
	margin: 0 0 0 69px;
}

.block8 .f .b h3 {
	font: 30px 'MontserratBold', sans-serif;
	letter-spacing: 0.5px;
}

.block8 .f .b ul {
	margin-top: 58px;
}

.block8 .f .b li {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 19px;
}

.block8 .f .b li .il {
	flex-shrink: 0;
}

.block8 .f .b li p {
	font: 16px 'MontserratMedium', sans-serif;
	line-height: 1.6em;
	padding-left: 32px;
}

.block8 .f .b h4 {
	font: 30px 'MontserratBold', sans-serif;
	letter-spacing: 0.5px;
	padding-top: 78px;
}

.block8 .f .i1 {
	flex-shrink: 0;
	margin-left: 120px;
}

.block8 .c {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	border: 2px solid #DADADA;
	border-right: none;
	width: 944px;
	margin: 23px 0 0 69px;
}

.block8 .c .b {
	border-right: 2px solid #DADADA;
	padding-bottom: 32px;
}

.block8 .c .b1 {
	width: 248px;
}

.block8 .c .b2 {
	width: 345px;
}

.block8 .c .b3 {
	width: 345px;
}

.block8 .c .b h3 {
	font: 16px 'MontserratBold', sans-serif;
	padding: 34px 47px 0;
}

.block8 .c .b h3 span {
	font-size: 24px;
	text-transform: uppercase;
}

.block8 .c .b p {
	font: 14px 'MontserratMedium', sans-serif;
	padding: 19px 47px 0;
}

.block8 .h3 {
	font: 30px 'MontserratBold', sans-serif;
	padding: 84px 0 0 69px;
	letter-spacing: 0.5px;
}

.block8 .r {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 944px;
	border: 2px solid #DADADA;
	border-right: none;
	margin: 48px 0 0 69px;
}

.block8 .r .b {
	border-right: 2px solid #DADADA;
	width: 470px;
	padding-bottom: 38px;
}

.block8 .r .b h3 {
	font: 20px 'MontserratBold', sans-serif;
	padding: 35px 43px 0;
}

.block8 .r .b p {
	font: 14px 'MontserratMedium', sans-serif;
	padding: 30px 43px 0;
}
/* The and block8 (Автор) */

/* block9 (Отзывы) */
.block9 .num {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-top: 146px;
}

.block9 .num p {
	font: 14px 'MontserratBlack', sans-serif;
	letter-spacing: 1px;
}

.block9 .num .p1 {
	color: #606D88;
}

.block9 .num .p2 {
	color: #ABB9D4;
}

.block9 .num .pl {
	height: 2px;
	width: 89px;
	background: #ABB9D4;
	margin: 0 18px;
}

.block9 h2 {
	font: 48px 'BebasNeueBold', sans-serif;
	color: #232C60;
	letter-spacing: 2.4px;
	padding: 10px 0 0 142px;
}

.block9 .i {
	text-align: center;
	min-height: 377px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.block9 .i img {
	box-shadow: 0 30px 50px rgba(0,0,0,0.2);
}

.block9 .wrapper_slider {
	position: relative;
	width: 100%;
	margin-top: 30px;
}

.block9 .slider {
	width: 80%;

	overflow: hidden;
	margin: 0 auto;
}

.block9 .slides {
	height: 100%;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-ms-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
	transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
	padding-bottom: 57px;
}

.block9 .slide {
	height: 100%;
	float: left;
	clear: none;
}


.block9 .slider-arrows {}

.block9 .slider-arrow {
	width: 88px;
	height: 71px;
	background: url(../images/arrows.png) no-repeat;
	position: absolute;
	display: block;
	margin-bottom: 0;
	color: #000;
	opacity: 1;
}

.block9 .slider-arrow--right {
	bottom: 50%; right: 0;
	background: url(../images/arrow_right.png) center top no-repeat;
}

.block9 .slider-arrow--left {
	bottom: 50%; left: 0;
	background: url(../images/arrow_left.png) center top no-repeat;
}

.block9 .slider-arrow--right:hover {
}

.block9 .slider-arrow--left:hover {

}


.block9 .slider-nav {
	position: absolute;
	bottom: 0;
}

.block9 .slider-nav__item {
	width: 12px;
	height: 12px;
	float: left;
	clear: none;
	display: block;
	margin: 0 5px;
	background: #B8B8B8;
	border-radius: 50%;
}

.block9 .slider-nav__item:hover { background: #CC2323; }
.block9 .slider-nav__item--current { background: #CC2323; }
/* The and block9 (Отзывы) */

/* block10 (Результат) */
.block10 .num {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-top: 151px;
}

.block10 .num p {
	font: 14px 'MontserratBlack', sans-serif;
	letter-spacing: 1px;
}

.block10 .num .p1 {
	color: #606D88;
}

.block10 .num .p2 {
	color: #ABB9D4;
}

.block10 .num .pl {
	height: 2px;
	width: 89px;
	background: #ABB9D4;
	margin: 0 18px;
}

.block10 h2 {
	font: 48px 'BebasNeueBold', sans-serif;
	color: #232C60;
	letter-spacing: 2.4px;
	padding: 10px 0 0 142px;
}

.block10 .f {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-top: 56px;
}

.blcok10 .f .i1 {
	flex-shrink: 0;
	margin-left: 65px;
}

.block10 .f .b {
	width: 475px;
	margin-left: 70px;
}

.block10 .f .b li {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 19px;
}

.block10 .f .b li .il {
	flex-shrink: 0;
}

.block10 .f .b li p {
	font: 16px 'MontserratMedium', sans-serif;
	line-height: 1.6em;
	padding: 0 21px 0 35px;
}
/* The and block10 (Результат) */

/* block11 (Цены) */
.block11 {
	padding-bottom: 150px;
}

.block11 .num {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-top: 151px;
}

.block11 .num p {
	font: 14px 'MontserratBlack', sans-serif;
	letter-spacing: 1px;
}

.block11 .num .p1 {
	color: #606D88;
}

.block11 .num .p2 {
	color: #ABB9D4;
}

.block11 .num .pl {
	height: 2px;
	width: 89px;
	background: #ABB9D4;
	margin: 0 18px;
}

.block11 h2 {
	font: 48px 'BebasNeueBold', sans-serif;
	color: #232C60;
	letter-spacing: 2.4px;
	padding: 10px 0 0 142px;
}

.block11 .f {
	width: 946px;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin-top: 64px;
}

.block11 .f .b {
	width: 470px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
	border: 2px solid #DADADA;
	padding-bottom: 64px;
}

.block11 .f .b1 {
	border-right: none;
}

.block11 .f .b h3 {
	font: 30px 'MontserratBold', sans-serif;
	padding-top: 62px;
	text-align: center;
}

.block11 .f .b .q {
	width: 241px;
	margin: 27px auto 0;
}

.block11 .f .b .q p {
	font: 14px 'MontserratMedium', sans-serif;
	line-height: 1.42em;
	padding-top: 9px;
}

.block11 .f .b .p1 {
	font: 44px 'MontserratBold', sans-serif;
	text-align: center;
	padding-bottom: 15px;
	color: #ED1D24;
}

.block11 .f .b .wp-a {
	margin-top: 50px;
	text-align: center;
}

.block11 .f .b .wp-a a {
	text-decoration: none;
	color: #fff;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	border: 1px solid #ED1D24;
	border-radius: 30px;
	padding: 6px;
	width: 326px;
}

.block11 .f .b .wp-a .b-a {
	background: #ED1D24;
	border-radius: 5px;
	display: inline-block;
	border-radius: 30px;
	-webkit-box-shadow: 0 30px 70px #FDE4E5;
	box-shadow: 0 30px 70px #FDE4E5;
	width: 100%;
}

.block11 .f .b .wp-a .b-a p {
	font: 16px "MontserratBold", sans-serif;
	letter-spacing: 2px;
	padding: 17px 0px 17px 0px;
	color: #fff;
	display: inline-block;
}

.block11 .f .b .wp-a .b-a .arrow {
	display: inline-block;
	margin-left: 30px;
}

.block11 .f .b .wp-a a:hover {
	border-color: #fff;
}

.block11 .ptimer {
	font: 42px 'MontserratBold', sans-serif;
	text-align: center;
	padding-top: 84px;
}

.texttimer {
	font: 14px 'MontserratBold', sans-serif;
	text-align: center;
	padding-bottom: 20px;

}
/* The and block11 (Цены) */

/* block12 (Еще отзывы участников) */
.block12 {
	padding-bottom: 100px;
}

.block12 .num {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-top: 0px;
}

.block12 .num p {
	font: 14px 'MontserratBlack', sans-serif;
	letter-spacing: 1px;
}

.block12 .num .p1 {
	color: #606D88;
}

.block12 .num .p2 {
	color: #ABB9D4;
}

.block12 .num .pl {
	height: 2px;
	width: 89px;
	background: #ABB9D4;
	margin: 0 18px;
}

.block12 h2 {
	font: 48px 'BebasNeueBold', sans-serif;
	color: #232C60;
	letter-spacing: 2.4px;
	padding: 10px 0 0 142px;
}

.block12 .b1 {
	width: 750px;
	margin: 50px auto 0;
}

.block12 .b1 .d {
	width: 268px;
	height: 130px;
	background: #ABB9D4;
	border-radius: 35px;
}

.block12 .b1 .i {
	margin: -69px 0 0 94px;
}

.block12 .b1 .i img {
	-webkit-box-shadow: 10px 10px 40px rgba(0,0,0,0.1);
	box-shadow: 10px 10px 40px rgba(0,0,0,0.1);
}

.block12 .b2 {
	width: 750px;
	margin: 50px auto 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: flex-end;
	align-items: flex-end;
}

.block12 .b2 .d {
	width: 268px;
	height: 130px;
	background: #ABB9D4;
	border-radius: 35px;
}

.block12 .b2 .i {
	margin: -69px 94px 0 0;
}

.block12 .wp-a {
	margin-top: 85px;
	text-align: center;
}

.block12 .wp-a a {
	text-decoration: none;
	color: #fff;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	border: 1px solid #ED1D24;
	border-radius: 30px;
	padding: 6px;
}

.block12 .wp-a .b-a {
	background: #ED1D24;
	border-radius: 5px;
	display: inline-block;
	border-radius: 30px;
	-webkit-box-shadow: 0 30px 70px #FDE4E5;
	box-shadow: 0 30px 70px #FDE4E5;
}

.block12 .wp-a .b-a p {
	font: 16px "MontserratBold", sans-serif;
	letter-spacing: 2px;
	padding: 17px 58px 17px 58px;
	color: #fff;
	display: inline-block;
}

.block12 .wp-a .b-a .arrow {
	display: inline-block;
	margin-right: 26px;
}

.block12 .wp-a a:hover {
	border-color: #fff;
}
/* The and block12 (Еще отзывы участников) */

/* blockf (Футер) */
.blockf {
	background: #232C60;
	padding-bottom: 58px;
}

.blockf p {
	font: 14px 'GothamPro', sans-serif;
	line-height: 1.22em;
	color: #fff;
}

.blockf .p1 {
	text-align: center;
	padding: 47px 23% 0;
}

.blockf .f {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.blockf .b1 {
	width: 770px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 15px;
}

.blockf .b1-b {
	width: 45%;
	margin-top: 30px;
}

.blockf .b1-b:nth-child(2n) p {
	text-align: center;
}

.blockf .b2 {
	width: 302px;
	margin-top: 37px;
}

.blockf .b2 p {
	text-align: right;
	padding-top: 8px;
}

.blockf .b2 p a {
	color: #fff;
}

.blockf .soc {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: 14px;
}
/* The and blockf (Футер) */


/* Modal */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
    padding: 15px;
    text-align: right;
    /*border-bottom: 1px solid #e5e5e5;*/
}

.modal-header button{
	border:none;
	background: none !important;
}


/* Modal Body */
.modal-body {/*padding: 2px 16px;*/ text-align: center;}

.modal-body input {
    margin: 10px 0 10px 0;
    padding: 0 20px;
    font-size: 16px;
    line-height: 1.33;
    width: 100%;
    border: 0 none;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 60px;
    border: 1px solid #666;
    color: black;
}

.modal-body button {
	background: #ED1D24 !important; /* change bg */
    font-size: calc(0.8em + 1vmin);
    border: none;
    color: #fff;
    display: inline-block;
    padding: 20px 40px;
/*    text-transform: uppercase;*/
    border-radius: 40px;
    font-weight: 700;
    margin: 20px;
    white-space: normal;
    line-height: 1.42857143;
    text-align: center !important;
    touch-action: manipulation;
    cursor: pointer;
}

.modal-body p {
    font-size: 20px;
    margin: 15px 0 15px 0;
    text-align: center
}

.modal-body br {
    display: none;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 10% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
      border-radius: 6px;
}

/* The Close Button */
.close, .closeTwo {
  color: #ED1D24 !important; /* change bg */
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.closeTwo:hover,
.closeTwo:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;

}


