<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]


Redirect 301 /proday/webinar https://proprodazhy.ru/web/2603
Redirect 301 /proday/webinar/ https://proprodazhy.ru/web/2603

Redirect 301 /proday/webinar-2 https://proprodazhy.ru/web/2603-2
Redirect 301 /proday/webinar-2/ https://proprodazhy.ru/web/2603-2

</IfModule>