@import url(reset.css);
@import url(fonts.css);

#wrapper {
	min-width: auto;
}

.content {
	max-width: 1170px;
	position: relative;
	margin: 0 auto;
}

.clear {
	clear: both;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

/* forma (Форма) */
.fon {
	background: url(../images/fon.png);
	width: 200%;
	height: 200%;
	position: fixed;
	padding: 0;
	margin: 0;
	z-index: 254;
	display: none;
}

.forma {
	position: relative;
	margin: 0 auto;
	z-index: 255;
	width: 400px;
	display: none;
}

.form {
	position: fixed;
	top: 15%;
	width: 400px;
	background: #fff;
	z-index: 255;
	box-shadow: 0 0 10px #000;
	margin: 0 auto;
	text-align: center;
/*	overflow: inherit;*/
	display: block;
}

.form form {
	padding: 30px 0;
	display: block;
	background: #fff;
}

.form .input {
	width: 70%;
	border: 1px solid #000;
	background: #fff;
	margin: 0 auto 0;
}

.form .input input {
	font: 16px 'Montserrat', sans-serif;
	width: 96%;
	padding: 5px 2%;
	display: block;
	border: none;
	background: none;
	text-align: center;
}

.form .label-chek {
	width: 10px !important;
	height: 10px !important;
	margin: 10px 0 0 15%;
}

.form .p-chek {
	padding: 10px 19% 0 19% !important;
}

.form button {
	display: block;
	background: #ED1D24;
	margin: 30px auto 3px;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 30px;
	padding: 10px 20px;
	font: 16px 'Montserrat', sans-serif;
	border-radius: 30px;
}

.form button:hover {
	margin: 33px auto 0;
}

.form .x {
/*	position: absolute;*/
	width: 16px;
	height: 14px;
	top: -26px;
	right: -23px;
	background: url(../images/x_fon.png) no-repeat;
	z-index: 11;
	cursor: pointer;
	float: right;
    margin: 10px;
}
/* The and forma (Форма) */

/* block1 (Шапка) */
.block1 {
	color: #363636;
	padding-bottom: 70px;
}

.block1 h2 {
	font: 24px 'MontserratBold', sans-serif;
	text-align: center;
	line-height: 1.5em;
	letter-spacing: 1px;
	padding-top: 50px;
}

.block1 .f {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	margin-top: 49px;
}

.block1 .b1 {
	width: 461px;
	text-align: center;
}

.block1 .b1 .i1 img {
	border-radius: 29px;
	-webkit-box-shadow: 9px 9px 20px rgba(0.2);
	box-shadow: 9px 9px 20px rgba(0,0,0,0.2);
}

.block1 .b1 .arrow {
	margin-top: 16px;
}

.block1 .b1 .arrow img {
	border-radius: 30px;
	-webkit-box-shadow: 5px 5px 16px rgba(0.2);
	box-shadow: 5px 5px 16px rgba(0,0,0,0.2);
}

.block1 .b1 .i2 {
	margin-top: 21px;
}

.block1 .b1 .i2 img {
	border-radius: 30px;
	-webkit-box-shadow: 7px 7px 18px rgba(0.2);
	box-shadow: 7px 7px 18px rgba(0,0,0,0.2);
}

.block1 .b1 .i3 {
	margin-top: 21px;
}

.block1 .b1 .i3 img {
	border-radius: 30px;
	-webkit-box-shadow: 7px 7px 18px rgba(0.2);
	box-shadow: 7px 7px 18px rgba(0,0,0,0.2);
}

.block1 .b2 {
	width: 500px;
}

.block1 .b2 h3 {
	font: 18px 'MontserratBold', sans-serif;
	letter-spacing: 0.5px;
	padding-top: 7px;
}

.block1 .b2 li {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 19px;
}

.block1 .b2 ul {
	margin-top: 37px;
}

.block1 .b2 li .il {
	flex-shrink: 0;
}

.block1 .b2 li p {
	font: 16px 'MontserratMedium', sans-serif;
	line-height: 1.5em;
	padding-left: 36px;
}

.block1 .b2 .wp-a {
	margin-top: 41px;
}

.block1 .b2 .wp-a a {
	text-decoration: none;
	color: #fff;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	border: 1px solid #ED1D24;
	border-radius: 30px;
	padding: 6px;
}

.block1 .b2 .wp-a .b-a {
	background: #ED1D24;
	border-radius: 5px;
	display: inline-block;
	border-radius: 30px;
	-webkit-box-shadow: 0 30px 70px #FDE4E5;
	box-shadow: 0 30px 70px #FDE4E5;
}

.block1 .b2 .wp-a .b-a p {
	font: 16px "MontserratBold", sans-serif;
	letter-spacing: 2px;
	padding: 17px 40px 17px 34px;
	color: #fff;
	display: inline-block;
}

.block1 .b2 .wp-a .b-a .arrow {
	display: inline-block;
	margin-right: 26px;
}

.block1 .b2 .wp-a a:hover {
	border-color: #fff;
}
/* The and block1 (Шапка) */

/* blockf (Футер) */
.blockf {
	background: #F2F2FA;
	padding-bottom: 58px;
}

.blockf p {
	font: 14px 'Montserrat', sans-serif;
	line-height: 1.22em;
	color: #5C5C5C;
}

.blockf .p1 {
	text-align: center;
	padding: 47px 23% 0;
}

.blockf .f {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.blockf .b1 {
	width: 770px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 15px;
}

.blockf .b1-b {
	width: 45%;
	margin-top: 30px;
}

.blockf .b1-b:nth-child(2n) p {
	text-align: center;
}

.blockf .b2 {
	width: 302px;
	margin-top: 37px;
}

.blockf .b2 p {
	text-align: right;
	padding-top: 8px;
}

.blockf .b2 p a {
	color: #5C5C5C;
}

.blockf .soc {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: 14px;
}
/* The and blockf (Футер) */