body, html {width: 100%;height: 100%}
body {font-family: 'Montserrat', sans-serif;font-size: 14px;color: #fff;font-weight:normal}
@font-face {
font-family: 'Proxima Nova Bold';
src: url('../fonts/ProximaNova-Bold.eot');
src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/ProximaNova-Bold.woff') format('woff'),
url('../fonts/ProximaNova-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Proxima Nova Regular';
src: url('../fonts/ProximaNova-Regular.eot');
src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/ProximaNova-Regular.woff') format('woff'),
url('../fonts/ProximaNova-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
/*
* Global
*/
ins {text-decoration: none}
del {color: #999}
a:active, a:focus, input, textarea, input:active, textarea:active, :focus, textarea { outline: none}
textarea {resize:none}
.button_blue {background-color: #0095fe;color: #fff}
.button_blue:hover {color: #fff;text-decoration: none;box-shadow: 0 0 25px #0095fe}
.button_white {background-color: #fff;color: #0095fe;transition: .5s}
.button_white:hover {background-color: #0095fe;color: #fff;text-decoration: none;box-shadow: 0 0 25px #0095fe}
.block {overflow: hidden;padding-bottom: 73px}
.block__title {font-size: 48px;margin: 55px auto;text-align: center;font-weight: 500}
.block__paragraf {font-size: 24px;font-weight: 500;margin: 45px 0 25px}
.button_big {display:inline-block;line-height:32px;padding:0 64px;border-radius:31px;font-size: 13px}
.button_middle {display:inline-block;line-height:46px;padding:0 25px;border-radius:23px;font-size: 16px;text-transform: uppercase;}

.our-advantage .button_middle{line-height:34px;font-size: 12px}
.f-bold{font-weight:700;}
.f-light{font-weight:300;}
.gti-text{font-weight:700;font-size:50px;}
.leftblock img{display: block;margin-left: auto; margin-right: -32px; margin-top: 34px;}
.button_hidden{
    padding: 0 25px;
    border-radius: 23px;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #0095fe;
    color: #fff;
    line-height: 34px;font-size: 12px;display:none;}
.button_hidden:hover{color: #fff;
    text-decoration: none;
    box-shadow: 0 0 25px #0095fe;}

.payments__item{display: flex; justify-content: center;align-items: center;    padding: 15px;}

.videoContainer {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.videoContainer video {
    min-width: 100%;
    min-height: 100%;
    display: block;
    position: relative;
    z-index: 1;
}
.videoContainer .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: #000;
    opacity: 0.8;
}

.videoContainer .overlay .container{
    position: absolute;
    bottom: 40%;
    right: 0;
    left: 0;
}


/*
* header
*/
.header {position: absolute;z-index: 1; height: 68px;line-height: 68px;background-color: transparent;margin-left: auto;margin-right: auto;left: 0;right: 0;}
.header a {color: #fff}
.header .container .row {justify-content: space-between}
.header__left {display: flex;    margin: 0 auto;}
.header__location>div {display: flex;align-items: flex-start;}
.header__location>div>img {margin: 27px 0px 0 10px;max-width: 20px;}
.header__location>div>span {font-size: 10px;text-transform:uppercase;display:block;color:rgba(255, 255, 255, 0.5);height: 40px;width: 40px;text-align: center;line-height: 40px;margin: 14px 0;font-weight:bold;}
.header__location ul {position:absolute;display: none;background-color: #fff;border-radius: 5px;margin-left:0;padding: 0;line-height: 20px;}
.header__location ul:before {position: absolute;content: '';border: 7px solid transparent;border-bottom: 10px solid white;top: -17px;left: 42px}
.header__location ul li {display: block;border-bottom: 1px solid #ccc;line-height: inherit;padding: 2px 10px}
.header__location ul li:last-child {border-bottom: none}
.header__location ul li img {margin-right: 5px;max-width: 20px;}
.header__location ul li a {color: #000;line-height: inherit;font-size: 10px;}
.header__location:hover ul {display: block}
.header__logo {position:relative;width:125px;}
.header__logo img {width: 100%;height: auto}
.header__logo .mini_logo {display: none}
.header__nav ul {margin: 0}
.header__nav ul li {list-style: none;display: inline-block;margin: 0 23px}
.header__login_register {display: inline-block;height: 33px;line-height: 33px;padding: 0 40px;border-radius: 15px;margin-left: 25px;box-shadow: 0 0 15px #0095fe}
.header__contact {display: flex}
.header__contact a {color: #0095fe;font-size: 16px;transition: .5s}
.header__contact img {width: 30px;height: 30px;margin-top: 19px;margin-right: 10px}
.header__contact a:hover {color: #fff;text-decoration: none}
.header__login_block, .header__language_block {color:#fff;text-transform:uppercase;margin:-2px 10px 0 10px;}
.header__login_block a, .header__language_block a{font-size: 10px;color: rgba(255, 255, 255, 0.5);text-decoration: none;font-weight:bold;}
.header__login_block a:hover,  .header__language_block a:hover {text-decoration: underline}
.header__login_block .user_profile {color: #fff;line-height: normal;margin-top: 13px;display: block;text-align: right;margin-left: 20px;font-size: 14px;line-height: 1.6}
.header__info_block{position: absolute;top: 0; right: 68px; margin: -6px 10px 0 10px;}
.header__menu_block{display:none;    margin: 0 10px 0 10px;}
.header__menu_block img{max-width: 14px;}


.header__menu_open {display:none;}
.header__menu_open a {
    display: block;
    line-height: 30px;
    text-align: center;
    color: #fff;
        background-color:#000523;
}

/* first screen */
.first-screen {background: url(../images/bg-half.jpg) no-repeat top; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; text-align:center; }

/* get_started */
.get-started {position: relative;padding-top:125px;text-align:center;}
.get-started__description {font-size: 20px;color: #fff;text-align: center;margin-bottom: 52px}
/*#video_bg {position: absolute;width: 100%;max-height: 100%;height: calc( 100% - 74px );top: 0;overflow: hidden;background: url(../images/background-start.png)}*/
.fon_video {position: absolute;width: 100%;height: 100%;background-color: rgba(0,0,0,.6)}
.get-started video {position: absolute;bottom:0;left:0;min-width: 100%;min-height: 100%;width: auto;height: auto}
.get-started .container {position: relative}
.get-started h1 {color:#fff;padding-bottom:12px;margin: 0 auto;font-weight:normal;font-size:38px;line-height:1.1;}
.get-started h1 span{color:#fff;margin: 0;font-size:44px}
.get-started .button_big {margin-bottom: 35px;margin-left: 5px;margin-right: 5px;text-transform:uppercase;}
.get-started__statistic {margin:0 auto -74px;background-color:#fff;border-radius:3px}
.get-started__statistic>div {border-right:1px solid #eee;display: flex;flex-wrap: wrap;align-content: space-between;justify-content: center}
.get-started__statistic>div.get-started__statistic_income {border:none}
.get-started__statistic span {display:block;width: 100%}
.get-started__statistic_key {padding:20px 10px 5px;color: #666}
.get-started__statistic_key img {position: relative;margin-top: -2px;margin-right: 6px}
.get-started__statistic_value {padding-bottom:20px;font-size:60px;color: #333333}
.get-started__statistic_value b {color:#0095fe}
.get-started__mouse{margin: 0 auto; display: block; text-align: center;margin-bottom: 50px;}
.get-started__mouse img{max-width:20px;}
.get-started__leftmenu{position:absolute; left: 11%; top: 50%; transform: rotate(90deg);font-family: 'Proxima Nova Bold';}
.get-started__leftmenu span:first-child{margin-right:46px;}
.get-started__leftmenu span{color: #00aaff; font-size:34px; vertical-align: middle;margin-right:20px;}

.get-started__leftmenu .dot {
    background-color: #0c2b40;
    border-radius: 5px;
    display: inline-block;
    height: 7px;
    width: 7px;
    margin: 12px;
}
.get-started__leftmenu .dot.active {
    background-color: #0095fe;
}
/*
* advantages
*/
.advantages {padding-top: 145px;/*padding-bottom: 136px*/}
.advantages__description {font-size: 24px;color: #fff;padding: 0 68px;text-align: center;line-height: 1.7;}
.advantages__plitka {display:flex;justify-content:center;flex-wrap:wrap;margin-top: 130px}
.advantages__plitka .row{width: 100%;display: flex;justify-content: center;margin-top:-10px}
.advantages__plitka .row>.hex_box{margin-right:200px}
.advantages__plitka .row>.hex_box:last-child{margin-right:0px}
.advantages img{width:100%;max-width:200px;padding-top: 28px;padding-bottom: 34px;}
.advantages p {text-align: left;font-size:12px;}

.advantages__leftblock {font-family: 'Proxima Nova Bold'; display: flex; flex-direction: column; justify-content: flex-end; font-size:25px; color:#fff;padding-left: 76%;padding-top: 17px;}
.advantages__leftblock div:first-child{margin: 38px 38px 38px 30px;}
.advantages__leftblock div:nth-child(2){margin:25px;}
.advantages__leftblock div:last-child{padding-top: 55px;}
.advantages__leftblock span{display:block; transform: rotate(-90deg);}

.hex_box {position: relative;float:left;cursor: pointer}
.hex {width:238px;height:136px;background-color: #333;background-repeat: no-repeat;background-position: 50% 50%;-webkit-background-size: auto 173px;-moz-background-size: auto 173px;-ms-background-size: auto 173px;-o-background-size: auto 173px;text-align:center;zoom:1;transform:rotate(30deg);border-left:1px solid #fff;border-right:1px solid #fff;box-sizing:border-box;opacity: .6}
.hex_box:hover .hex {opacity:1;background-color:#0095fe;box-shadow: 0 0 25px #0095fe;border:none}
.hex_box:hover .hex .corner-1, .hex_box:hover .hex .corner-2 {box-shadow: 0 0 25px #0095fe;border:none}
.hex .corner-1,.hex .corner-2 {position: absolute;top:0;left:0;width:100%;height:100%;background: inherit;z-index:-2;overflow:hidden;-webkit-backface-visibility: hidden;-moz-backface-visibility: hidden;-ms-backface-visibility: hidden;-o-backface-visibility: hidden;backface-visibility: hidden;border-left:1px solid #fff;border-right:1px solid #fff;box-sizing:border-box}
.hex .corner-1 {z-index:-1;-webkit-transform: rotate(60deg);-moz-transform: rotate(60deg);-ms-transform: rotate(60deg);-o-transform: rotate(60deg);transform: rotate(60deg)}
.hex .corner-2 {-webkit-transform: rotate(-60deg);-moz-transform: rotate(-60deg);-ms-transform: rotate(-60deg);-o-transform: rotate(-60deg);transform: rotate(-60deg)}
.hex .corner-1:before,.hex .corner-2:before {width: 173px;height:173px;content: '';position: absolute;background: inherit;top:0;left: 0;z-index: 1;background: inherit;background-repeat:no-repeat;-webkit-backface-visibility: hidden;-moz-backface-visibility: hidden;-ms-backface-visibility: hidden;-o-backface-visibility: hidden;backface-visibility: hidden}
.hex .corner-1:before {-webkit-transform: rotate(-60deg) translate(-87px, 0px);-moz-transform: rotate(-60deg) translate(-87px, 0px);-ms-transform: rotate(-60deg) translate(-87px, 0px);-o-transform: rotate(-60deg) translate(-87px, 0px);transform: rotate(-60deg) translate(-87px, 0px);-webkit-transform-origin: 0 0;-moz-transform-origin: 0 0;-ms-transform-origin: 0 0;-o-transform-origin: 0 0;transform-origin: 0 0}
.hex .corner-2:before {-webkit-transform: rotate(60deg) translate(-48px, -11px);-moz-transform: rotate(60deg) translate(-48px, -11px);-ms-transform: rotate(60deg) translate(-48px, -11px);-o-transform: rotate(60deg) translate(-48px, -11px);transform: rotate(60deg) translate(-48px, -11px);bottom:0}
.hex_text {position: absolute;color: #fff;width: 100%;height: 100%;top: 0;text-align: center;display:flex;align-items:center;justify-content:center}
.hex_text span {display: block;padding-bottom: 15px;font-size: 50px}
/*
* how-to-start
*/
.how_to_start { color: #fff;padding-top: 50px;padding-bottom: 50px;font-size: 16px;text-align: center}
.how_to_start .button_blue {margin-top: 10px}
.how_to_start__cam {display: flex;justify-content: space-between;padding: 30px 0 50px}
.how_to_start__cam__item {width: 32%;text-align: center}
.how_to_start__cam__item h4 {color: #0095fe;padding-bottom: 10px;font-size: 30px}
.how_to_start__cam__item iframe {width: 100%;height: 205px}
.paragraph{margin:0 0 20px;padding:10px;text-align:center;border:2px solid #0095fe;border-radius:10px;background-color:rgba(0,149,254,.5)}
/*
* standart-miner
*/
.standart-miner {background-image: url(../images/standart-miner-bg.jpg);background-repeat: no-repeat;background-position: center; background-size: cover;padding-bottom: 0px}
.standart-miner .block__title{    margin-top: 66px; margin-right: auto; margin-bottom: 77px; margin-left: auto;}
.standart-miner h2{font-weight: bold;color:#00aaff;font-size: 36px;}
.standart-miner .container {position: relative}
.standart-miner .carousel-element {/*padding: 0 60px;*/}
.standart-miner .row {margin-left: -30px;margin-right: -30px;flex-wrap: nowrap;/*overflow: hidden;*/justify-content: center}
.row.standart-miner__nav {justify-content: space-between;margin: 0 -15px 40px}
.row.standart-miner__nav .button_middle {border: 1px solid #a7a7a7;color: #333;transition: .5s;font-size: 20px;padding: 0 63px}
.row.standart-miner__nav .button_middle:hover {border: 1px solid #0095fe;color: #fff;background-color: #0095fe;text-decoration: none}
.standart-miner__items {background-color: transparent;border-radius: 30px;border: 1px solid #00aaff;text-align: center;/*padding-bottom: 20px;*/transition: .5s; width: 100%; max-width: 175px;}
.standart-miner__items h3 {padding: 9px 14px 0px 14px;text-align: left;}
.standart-miner__items h3 span:first-child{font-size: 17px;margin: 0;font-weight:bold;color: #00aaff;}
.standart-miner__items h3 span:last-child{font-size: 29px; color: #fff;font-weight:bold;}
.standart-miner__items img {width: 100%;height: auto}
.standart-miner__items_parametr {padding: 8px 12px;width: 100%;text-align: left}
.standart-miner__items_parametr>div.items_parametr_block {display: flex;justify-content: space-between}
.items_parametr__right {padding-top: 28px}
.items_parametr__right .hex_box {float: none;width: 100px;cursor: default}
.items_parametr__right .hex_box .hex {transform: rotate(0deg);height: 56px;width: 100px;opacity: 1;background-color: #1f1f1f}
.standart-miner__items .hex, .standart-miner__items .hex .corner-1, .standart-miner__items .hex .corner-2 {border-color:#1f1f1f}
.items_parametr__right .hex_box:hover .hex {background-color: #0095fe}
.standart-miner__items:hover .hex, .standart-miner__items:hover .hex .corner-1, .standart-miner__items:hover .hex .corner-2 {background-color: #0095fe;box-shadow: 0 0 25px #0095fe;border-color:#0095fe}
.items_parametr__right .hex_box .hex_text span {font-size: 13px;padding: 0}
.items_parametr__right .hex_box .hex_text span ins {display: block;text-decoration: none;font-size: 18px;color: #2394fe;font-weight: bold}
.standart-miner__items:hover .hex_text span ins {color: #fff}
.standart-miner__items_parametr .parametr__item {font-size: 12px}
.standart-miner__items_parametr .parametr__item span {font-size: 10px;color: #00aaff;display: block}
.standart-miner__items_parametr .parametr__item p {font-size: 20px;color: #fff;display: block;font-weight: bold;}
.standart-miner__items_price {border-top: 1px solid #00aaff;padding: 10px;display: flex;justify-content: center}
.standart-miner__items_price>div {font-size: 24px;font-weight: 700}
.left__item {margin-bottom: 7px;}
.standart-miner__items_price>div span {display: block;color: #00aaff;font-size: 12px;font-weight: 400;}
.standart-miner__items_price>div span:first-child {text-transform: uppercase;}
.standart-miner__items .button_middle {border:1px solid #0095fe}
.standart-miner__items:hover .button_middle {background-color: #0095fe;color: #fff}
.standart-miner__calculator {text-align: center}
.standart-miner__calculator h3 {padding: 40px 0}
.standart-miner__calculator_wrapper {justify-content: center;background-color: #fff;padding: 20px 10px;border-radius: 15px;margin-bottom: 20px;align-items: flex-start}
.standart-miner__calculator_wrapper.row {flex-wrap: wrap;margin-left: auto;margin-right: auto}
.standart-miner .profit{display:block;font-size: 25px;color:#fff;font-weight: bold;text-decoration: underline;    margin: 50px auto;}
.standart-miner .profit:hover{text-decoration:none}

.standart-miner .row .carousel-element{padding:0 60px;}
@media screen and (max-width:1000px){
.standart-miner .row .carousel-element{padding:0 32px;}
}
.standart-miner .button_white{
font-family: 'Philosopher', sans-serif;
width: 100%;
color:#fff;
background-color: transparent;
background-image: -moz-linear-gradient( -90deg, rgb(0,170,255) 0%, rgba(40,191,255,0) 100%);
background-image: -webkit-linear-gradient( -90deg, rgb(0,170,255) 0%, rgba(40,191,255,0) 100%);
background-image: -ms-linear-gradient( -90deg, rgb(0,170,255) 0%, rgba(40,191,255,0) 100%);
border-radius: 30px;
}
.dohod-right{text-align:center;}
.dohod-right img{max-width:50px;}

.mouse{max-width: 14px;}

/*.dohod-right .parametr__item .left__item span:last-child{font-size:50px;}*/

.calculator_result {display: flex;justify-content: center;font-size: 11px;text-align: center;margin-top: 30px}
.calculator_result>div {padding: 0 15px}
.calculator_result .result_price {position: relative;width: 190px;height: 190px;color: #0095fe;display: inline-block;font-size: 30px;font-weight: bold;margin-bottom: 15px;display: flex;align-items: center;justify-content: center}
.calculator_result .result_price img {position: absolute;width: 100%;height: 100%;top:0;left: 0;animation: fa-spin 4s infinite linear}
@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
.calculator_result .result_price int, .calculator_result .result_price p {position: relative}
.calculator_result .result_price p {font-weight: normal;color: #333333;font-size: 14px}
.standart-miner__calculator_wrapper p {margin-bottom: 0}
.standart-miner__calculator input, .standart-miner__calculator select {width: 100%;line-height: 60px;height: 60px;border:1px solid #eee;border-radius: 5px;padding-left:20px}
.calculator_mainer p, .calculator_col p, .calculator_kurs p {text-align: left;margin-bottom: 10px}
.calculator_kurs__block {display: flex;justify-content: center}
.calculator_kurs__block .kurs_item {padding: 0 10px}
.calculator_kurs__block .kurs_item span {font-weight: bold;font-size: 18px;color: #0095fe}
.calculator_kurs__block .kurs_item p {text-align: center}
/*
* your_plan
*/
.your-plan {/*background-image: url('../images/advantages.jpg');background-repeat: no-repeat;background-position: top center;text-align: center;*/color: #fff}
.your-plan__table {justify-content: space-between;flex-wrap: nowrap;align-items: flex-end;font-size: 16px}
.table__start, .table__medium, .table__large, .table__superb {min-width: 175px;max-width: 175px}
.table__title {width: 100%;text-align: left}
.table__title_item, .your-plan__table .table_item {line-height: 60px; border: 1px solid rgba(201,201,201,0.2);border-top: none}
.table__title_item {padding-left: 25px}
.table__title_item:first-child {border-top: 1px solid rgba(201,201,201,0.2)}
.your-plan__table .table_item {border-left: none;border-top: none;font-size: 18px;background-color: rgba(0,149,254,1)}
.your-plan__table .table_item span {display: none}
.table__start .table_item {background-color: rgba(0,149,254,.4)}
.table__medium .table_item {background-color: rgba(0,149,254,.6)}
.table__large .table_item {background-color: rgba(0,149,254,.75)}
.your-plan__table .table_title {border-bottom: 1px solid rgba(201,201,201,0.2);padding-bottom: 15px}
.your-plan__table .table_title span {display: block;font-size: 24px}
/*
/*
* our_advantage
*/
.our-advantage.block {text-align: center;color:#fff; padding-bottom:405px;}
.our-advantage .block__title {margin: 55px auto 30px}
.our-advantage__description {font-size: 20px}
.our-advantage__title {font-size: 35px;padding: 70px 0 20px}
.our-advantage__title span {font-size: 60px;padding-top: 10px;display: block}
.our-advantage__item {margin-top: 68px}
.our-advantage__item p {font-size: 16px;margin-bottom: 0}
.our-advantage__item img {height: auto;width: 100%;padding: 30px 0 10px 0;max-width: 285px;}
.our-advantage__item h4 {font-size: 30px;padding: 32px 0 10px}
.our-advantage__item h4 span{font-size: 35px;padding: 32px 0 10px;text-transform:uppercase;color:#00aaff;font-weight: bold;}
.our-advantage__btn{text-transform: uppercase;}
.our-advantage__divider{border-top: 2px solid #00aaff;width: 35px;margin: 0 auto;padding-bottom:48px;}
.our-advantage_plus{text-align:right;}
.our-advantage_plus img{max-width: 65px}
/*
* payments_available
*/
.payments-available {text-align: center;color:#fff;
background: #000e3a;background: -moz-linear-gradient(137deg, #000e3a 0%, #002973 100%);
background: -webkit-linear-gradient(137deg, #000e3a 0%,#002973 100%);background: linear-gradient(137deg, #000e3a 0%,#002973 100%);
padding-bottom: 50px;padding-top: 30px;}
.payments-available .block__title {font-size: 23px;font-weight: bold;margin: 18px auto;}
.payments-available__items span {margin-right: 50px}
.payments-available__items span:last-child {margin-right: 0}
/*
* tera_pods
*/
.tera-pods {text-align: left;/*background-image: url('../images/mining-bg.jpg');background-repeat: no-repeat;background-position: top; background-size: cover;*/color: #fff;}
.tera-pods.block {padding-bottom: 0px; padding-top: 0px;}
.tera-pods .container{max-width:570px; width:100%;}
.tera-pods h2{font-size: 30px;}
.tera-pods .block__title {margin: 0 auto; margin-bottom:10px;font-weight: bold; color:#00aaff;text-transform:uppercase;text-align: left}
.tera-pods__description {font-size: 9px;text-align: left;padding-left: 0;margin-bottom:0;line-height: 1.9}
.tera-pods__video.row {margin:0;align-items: stretch}
.tera-pods__video__item {position: relative}
.tera-pods__video_gradient {position: absolute;width: 100%;height: 60%;left:0;bottom: 0;background: linear-gradient(to top, rgba(0,0,0,.7), rgba(0,0,0,0))}
.tera-pods__video__item span {position: absolute;font-size: 18px;left:25px;bottom:25px;line-height: 26px}
.tera-pods__video__item span img {height: 25px;width: auto}
.tera-pods__video__item img {width: 15px;height: 15px;margin-right: 10px;}
.tera-pods__video_small .tera-pods__video__item {max-height: 113px;overflow:hidden;cursor: pointer}
.tera-pods__video_small .tera-pods__video__item span {left: 15px;bottom:10px;line-height: 19px;font-size: 16px}
.tera-pods__video_small .tera-pods__video__item span img {height: 19px}
.tera-pods__video_small {display: flex;flex-wrap: wrap;align-content: space-between}
.tera-pods__play{border: 1px solid #fff;max-width: 202px;padding: 7px;text-transform: uppercase;font-weight: bold;letter-spacing: 1px;text-align: center;    margin-top: 10px; cursor:pointer;}
.tera-pods__play p{font-size:10px;color:#fff;text-decoration:none;    display: inline-block;margin-bottom: 0;}

.tera-pods__mobile{display:none;margin:0 auto;text-align:center;font-weight: bold; text-transform: uppercase; cursor:pointer;}
.tera-pods__mobile img {
width: 42px;
    height: 42px;
    margin-bottom: 10px;
    margin-right: 0;
}
.tera-pods__mobile p {
    font-size: 10px;
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 0;
}
/*
* faq
*/
.faq {
    padding-top: 50px;padding-bottom: 50px;color:#fff;background-repeat: repeat-y;
}
/*
* as_seen_on
*/
.as-seen-on {text-align: center}
.as-seen-on__partner {justify-content: space-between;padding-bottom: 50px}
/*
* popup
*/
.popup {position: fixed;width: 100%;height: 100%;background-color: rgba(0,0,0,.6);z-index: 1;display: flex;align-items: center;justify-content: center}
.popup form {position: relative;background-color: #fff;padding: 62px;height: auto;max-height: 90%;width: 450px;max-width: 90%;border-radius: 5px;text-align: center}
form.def_input_style input[type="text"], form.def_input_style input[type="tel"], form.def_input_style input[type="email"], form.def_input_style input[type="password"] {width: 100%;height: 60px;padding: 0 23px;border-radius: 5px;font-size: 16px;margin-top: 20px;border:1px solid #dcdcdc}
form.def_input_style input[type="submit"] {font-size: 24px;border:none;margin: 30px auto 0;cursor: pointer}
form.def_input_style input[type="submit"]:disabled {background-color: #666}
form.def_input_style input[type="submit"]:disabled:hover {box-shadow: none;cursor: default}
.popup form span {font-size: 36px}
.popup_zakaz__exit {position: absolute;top: 0;right: 0;font-size: 48px;padding-right: 10px;line-height: 50px;cursor: pointer}
#popup_result .mess_main_form, #contact-form__result .mess_main_form {margin-top: 30px;border: 2px dashed #0095fe;padding: 5px 10px}

.comagic-c-consultant-button {
    position: relative!important;
    color: transparent!important;
}
.comagic-c-consultant-button:after {
     position: absolute!important;
     width: 100%!important;
     content: "Send"!important;
     color: #fff!important;
}
.comagic-c-offline-message {
    height: auto!important;
    padding-bottom: 20px!important;
}
.comagic-c-consultant-container__banner-branding, .comagic-c-offline-message__feedback {
    display: none!important;
}
.skidka{text-align:center;background-image:url(../images/skidka.jpg);background-size:cover;display:-ms-flexbox;display:-webkit-box;display:flex;-ms-flex-pack:center;-webkit-box-pack:center;justify-content:center;-ms-flex-align:center;-webkit-box-align:center;align-items:center;padding:10px 0}
.skidka p{font-size:16px}
.skidka p b{color:red;position:relative;left:3px;bottom:-3px;font-size:24px}

/* Quotes */
.quotes{/*padding-bottom:90px;*/}
.quotes__item{text-align:left;}
.quotes span{font-weight:bold; font-size:25px;}
.quotes p{color: #0096ff;margin-top: 12px; font-size: 15px;}


.quotes__block {font-family: 'Proxima Nova Bold'; display: flex; flex-direction: column; justify-content: flex-end; font-size:25px; color:#fff;}
.quotes__block div:first-child{}
.quotes__block div:nth-child(2){margin:25px;}
.quotes__block div:nth-child(3){padding-top: 33px;}
.quotes__block div:last-child{margin-top: 74px;}
.quotes__block span{display:block; transform: rotate(-90deg);}

.quotes__circle{height:20px;width:20px;background-color: hsla(205, 100%, 50%, 0.5);border-radius:50%;margin:0 auto;}

/*
 * Adaptive
*/
@media all and (max-width:1920px) and (min-width:981px){
	.quotes .container {width:940px;}
    .payments-available .container{width:800px}
}


@media all and (max-width: 1199px){
    .get-started {padding-top: 140px}
    .get-started h1 {font-size: 36px;padding-bottom: 12px}
    .get-started h1 span{font-size: 42px}
    .get-started .button_big {/*margin-bottom: 94px*/}
    /*.get-started__statistic {margin-left: -15px;margin-right: -15px}*/
    .advantages {padding-top: 119px}
    .advantages__description {padding: 0 20px}
    .hex {width: 193px;height: 110px}
    .advantages__plitka .row>.hex_box {margin-right: 157px}
    .hex_text {font-size: 13px}
    .hex_text span, .block__title {font-size: 42px}
    .row.standart-miner__nav .button_middle {padding: 0 42px}
    .table__start, .table__medium, .table__large, .table__superb {min-width: 140px;max-width: 140px}
    .block {padding-bottom: 60px}
    .our-advantage__item p {font-size: 15px}
    .our-team__item p {padding: 0}
    .contact-us__map {width: 940px;margin: 40px 0 0 -15px}
    .contact-us__item .item_right h3 {font-size: 24px}
    .contact-us__item img {max-height: 48px;width: auto}
    .contact-us__item .item_right {padding-left: 15px}
    .contact-us__items.row {margin-left: -30px;margin-right: -30px}
    .footer {padding-bottom: 20px}
    .tera-pods__video_small .tera-pods__video__item {max-height: 92px}
}
@media all and (max-width: 979px){
    .hex_text span, .block__title {font-size: 38px}
    .get-started h1 {font-size: 32px}
    .get-started h1 span{font-size: 38px}
    .get-started__statistic_value {font-size: 48px}
    .advantages__description {padding: 0;font-size: 20px}
    .how-to-start__items img {max-height: 75px;width: auto}
    .block__paragraf {font-size: 20px}
    .button_big {line-height: 34px;font-size:20px}
    .row.standart-miner__nav .button_middle {padding: 0 30px;font-size: 16px}
    .your-plan__table {font-size: 14px}
    .your-plan__table .table_title span {font-size: 20px}
    .table__start, .table__medium, .table__large, .table__superb {min-width: 115px;max-width: 115px}
    .our-advantage__description {font-size: 16px}
    .our-advantage__item h4 {font-size: 28px}
    .our-advantage__item h4 span {font-size: 26px}
    .payments-available .block__title {font-size: 26px}
    .tera-pods__description {font-size: 9px}
    .tera-pods__video_small {flex-wrap: nowrap;align-content: stretch;justify-content: space-between;margin-top: 15px}
    .tera-pods__video_small .tera-pods__video__item {width: 24%}
    .our-team__item img {max-width: 155px;height: auto}
    .our-team__item .item_name {font-size: 18px}
    .our-team__item .item_spec {font-size: 16px;padding: 0 16px}
    .our-team__item p {font-size: 14px}
    .contact-us__item {flex-wrap: wrap;justify-content: center}
    .contact-us__item .item_right {width: 100%;padding: 0;text-align: center;margin-top: 15px}
    .contact-us__map {width: 718px;margin: 40px 0 0 -15px}
    .map__item:hover .map__item_adress {padding: 5px 10px}
    .map__item_adress adress {font-size: 12px}
    .map__item_adress span {font-size: 19px}
    .map__item:hover {padding: 0 35px 25px 0}
    .contact-us__item img {max-height: 35px;width: auto}
    .as-seen-on__partner {flex-wrap: nowrap;align-items: center}
    .partner_item img {width: 100%;height: auto;padding: 0 8px}
    .footer__bottom {flex-wrap: wrap}
    .footer__bottom_payment {text-align: left}
    .footer__bottom_payment img {margin-left: 0;margin-right: 20px}
    .standart-miner__calculator_wrapper>div {margin-bottom: 30px}
}
@media all and (max-width: 767px){
    .get-started__leftmenu, .advantages__leftblock, .leftblock, .quotes__block, .our-advantage_plus, .mouse, .owl-pagination, .quotes, .our-advantage .button_middle, .our-advantage__divider, .standart-miner .carousel-element:last-child{display:none;}
    .button_hidden{display:inline-block;margin-top:20px;}
    .advantages img {max-width:140px;}

    .block__title {margin: 40px 0}
    .header {height: auto;}
    .header__login_block, .header__info_block {display: none}
    .header__language_block a{color:#00aaff;}
    .header__menu_block {display:block;}
    .header__left {display: flex;width: 100%;justify-content: space-between}
    .header__logo {background-color: transparent;padding: 0;width: auto;left: 0;display: flex;align-items: center}
    .header__logo img {display: none}
    .header__logo img.mini_logo {display: block}
    .header__location ul {margin-left: 0}
    .header__location ul:before {/*left: 76px*/}
    .header .container .row {align-items: center;justify-content: space-between}
    .button_big {font-size: 18px;padding: 0 25px}
    .get-started {padding-top: 50px}
    .get-started h1 {font-size: 28px}
    .get-started h1 span{font-size: 25px}
    .get-started .button_big {font-size: 12px;margin-bottom: 20px}
    .get-started__statistic {max-width: none;width: auto}
    .get-started__statistic>div {border-right: none;border-bottom: 1px solid #eee }
    .advantages__description {font-size: 14px}
    .advantages {padding-top: 50px}
    .block__title {font-size: 28px}
    .how-to-start__items {width: 100%;padding: 17px 0 17px 50px;display: flex;align-items: center}
    .how-to-start__items img {max-height: none;max-width: 40px;height: auto}
    .how-to-start__items span {padding: 0 0 0 30px;text-align: left;font-size: 15px}
    .block__paragraf {font-size: 18px}
    .advantages__plitka {margin-top: 85px}
    .hex {width: 135px;height: 77px}
    .advantages__plitka .row {margin-top: -5px;justify-content: flex-end}
    .advantages__plitka .row:nth-child(2n) {justify-content: flex-start}
    .hex_text {font-size: 10px}
    .hex_text span {font-size: 24px;padding-bottom: 5px}
    .row.standart-miner__nav .button_middle {display: none}
    .row.standart-miner__nav .button_middle.all_coin {display: block;width: 100%}
    .table__title {display: none}
    .your-plan__table {flex-wrap: wrap}
    .table__title_item, .your-plan__table .table_item {border:none}
    .table__start .table_title {background-color: rgba(0,149,254,.4)}
    .table__medium .table_title {background-color: rgba(0,149,254,.6)}
    .table__large .table_title {background-color: rgba(0,149,254,.75)}
    .table__superb .table_title {background-color: rgba(0,149,254,1)}
    .your-plan__table>div {width: 100%}
    .your-plan__table .table_title {display: flex;padding: 0px 15px;line-height: 50px}
    .your-plan__table .table_title span {padding-right: 15px}
    .your-plan__table .table_item {line-height: normal;font-size: 13px;display: flex;justify-content: space-between;padding: 15px 15px 0}
    .your-plan__table .table_item:last-child {padding-bottom: 15px}
    .your-plan__table .table_item span {display: block}
    .our-advantage__description {font-size: 14px}
    .our-advantage__title {padding: 50px 0;font-size: 20px}
    .our-advantage__item {display: flex;justify-content: space-between;align-items: center;text-align: left;margin-bottom: 30px;flex-direction: column;}
    .our-advantage__item:last-child {margin-bottom: 0}
    .our-advantage__item img {height: auto}
    .our-advantage__item p {font-size: 12px}
    .our-advantage__item h4 {font-size: 24px;padding: 0 0 2px;text-align:center;}
    .our-advantage__item h4 span{font-size: 28px;padding: 0 0 2px;text-align:center;}
    .our-advantage__item a{margin:0 auto;}
    .payments-available .block__title {font-size: 24px}
    .payments-available__items {display: flex;padding: 0;justify-content: space-between;align-items: center;flex-direction: column;}
    .payments-available__items img {width: auto;height: auto}
    .payments-available__items span {margin-right: 10px}
    .payments-available__items span:last-child {margin-right: 0}
    .tera-pods__video.row {margin: 0 auto;}
    .tera-pods__description {font-size: 9px;padding: 0}
    .tera-pods__video_small .tera-pods__video__item span {display: none}
    .tera-pods__video_small {justify-content: center}
    .tera-pods__video_small .tera-pods__video__item {width: 15%;border-radius: 10px;margin: 0 5px}
    .tera-pods__video_small .tera-pods__video_gradient {display: none}
    .our-team__item p {display: none}
    .our-team__item {margin-bottom: 30px}
    .our-team__item:last-child {margin-bottom: 0}
    .contact-us__map {display: none}
    .contact-us__item {margin-bottom: 40px}
    .contact-us__item:last-child {margin-bottom: 0}
    .footer__top_right {width: 100%;text-align: center}
    .top_right__soc img:first-child {margin-left: 0}
    .footer__bottom_payment {text-align: center}
    .footer__bottom_payment img:last-child {margin-right: 0}
    .how-to-start__items::before {width: 30px;height: 100%;line-height: 79px;background-image: url(../images/polos_vartical.png);font-size:18px}
    .how-to-start__items:nth-child(1)::before {background-position: center left}
    .how-to-start__items:nth-child(5)::before {background-position: center right}
    .popup form span {font-size: 22px}
    .popup form input[type="submit"] {font-size: 16px;padding: 0 20px}
    .row.standart-miner__nav {display:none}
    .hidden_date {display: none}
    .our-advantage svg text {fill:rgb(255,255,255)!important}
    .our-advantage svg text:first-child, .our-advantage svg text:last-child {font-size: 60px;fill:rgb(0,0,0)!important}
    .our-advantage svg text:first-child {transform: translate(0px,-50px);-ms-transform: translate(0px,-50px);-webkit-transform: translate(0px,-50px);-o-transform: translate(0px,-50px);-moz-transform: translate(0px,-50px)}
    .our-advantage svg text:last-child {transform: translate(-200px,25px);-ms-transform: translate(-200px,25px);-webkit-transform: translate(-200px,25px);-o-transform: translate(-200px,25px);-moz-transform: translate(-200px,25px)}
    .our-advantage .date_svg {margin: 0}
    .our-advantage .date_svg span {width: auto}
    .calculator_result {flex-wrap: wrap}
    .standart-miner .row {flex-wrap: wrap}
    .standart-miner .carousel-element {margin-bottom: 10px}
    .standart-miner .carousel-element:last-child {margin-bottom: 0}
    .skidka{padding:10px}.skidka p{font-size:12px}.skidka p b{font-size:18px}


    .how_to_start {background-repeat:repeat;text-align: justify;padding-top: 1px}
    .how_to_start__cam {display: block}
    .how_to_start__cam__item {width: 100%;padding-bottom: 20px}
    .how_to_start__cam__item:last-child {padding-bottom: 0}
}

/* Cherkasov */
.gt-clmn {flex-basis: 100%;padding: 15px;margin: 5px 0;}
.gt-clmn #zakaz__form{}
.gt-clmn span {color:#fff;font-size: 24px;}
.gt-clmn .mess_main_form {color:#fff;}
.gs-again{padding: 80px 0 80px 0;}
#button_zakazform{
    width: 100%;
    padding: 0;
    font-size: 1.5em;
    margin-top: 20px;
}

/*@media screen and (min-width: 800px) {
    .gt-rw {
        display: flex;
        flex-direction: gt-rw;
        flex-wrap: nowrap;
    }
    .gt-clmn {
        flex: 1;
    }
    ._25 {
        flex: 1.5;
    }

}*/

@media (max-width: 877px){
    #button_zakazform{font-size: 0.9em !important;}
}

.gti-att{
    font-size:0.8em !important;
}

.gti-strong-first{color: #ec2e20;}
.gti-strong-second{text-transform:uppercase;color: #ec2e20 !important;display: inline-block; font-weight:700;}


.bounce {
    animation: bounce 700ms infinite alternate;
    -webkit-animation: bounce 700ms infinite alternate;
}
@keyframes bounce {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-5px);
    }
}
@-webkit-keyframes bounce {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-5px);
    }
}

/*
 FOOTER
*/
/*.reviews {padding: 0px 0 20px;}*/
.reviews h3 {font-size: 24px;margin-bottom: 15px;}
.reviews p {font-size: 14px;line-height: 24px;margin-bottom: 20px;}
.reviews h4 {font-size: 20px;letter-spacing: 0.2px;position: relative;display: inline-block;}
.reviews h4::before {content: '';position: absolute;width: 14px;height: 3px;top: 10px;left: -27px;background-color: #333;}
.reviews .owl-dots {margin-top: 18px;}
.reviews .owl-dot, .reviews .owl-page {background-color: #0c2b40;width: 7px;height: 7px;display: inline-block;margin: 20px 10px 0 10px;}
.reviews .owl-dot.active, .reviews .owl-page.active {width: 7px;height: 7px;}
.reviews .owl-page.active {background-color: #0095FE;border-radius: 50%}
.reviews .owl-next,.reviews .owl-prev {display: none;}
.reviews_carousel_item {text-align: center;color: #fff;width: 100%;}




.client_photo {width: 118px;display: inline-block;position: relative;z-index: 0;margin-bottom: 23px;}
.client_photo::after {content: '';position: absolute;top: 10px;right: -13px;z-index: 200;width: 41px;height: 28px;background-image: url(../images/reviews_quotes.svg);background-repeat: no-repeat;background-position: top left;background-size: contain;}
.client_photo img {width: 100%;display: inline-block;position: relative;z-index: 1;}
.owl-carousel .owl-stage {display: flex}
.our_team {background-image: url(../images/team_bg.jpg);background-repeat: no-repeat;background-size: cover;background-position: top left;color: #fff;padding: 44px 0 18px;}
.our_team h2 {letter-spacing: -0.1px;margin-bottom: 48px;}
.team_items_wrap {display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
.taem_item {text-align: center;-ms-flex-preferred-size: 100%;flex-basis: 100%;margin-bottom: 42px;}
.taem_item img,.taem_item span {display: inline-block;}
.taem_item p {display: none;}
.taem_item p .br_xl {display: none;}
.taem_item img {width: 133px;height: auto;margin-bottom: 23px;}
.taem_item h3 {font-size: 24px;letter-spacing: 0.7px;margin-top: 4px;margin-bottom: 10px;font-weight: 400;}
.taem_item span {font-size: 14px;font-family: Firasansbook, 'fira sans', sans-serif;padding: 10px 17px 8px 15px;background-color: #0095FE;border-radius: 30px;line-height: 1;}
.main_form {background-color: #fff;padding: 30px 0 41px;}
.main_form h2 {color: #252525;letter-spacing: 0.2px;line-height: 1.3;}
.call_back_form {display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
.call_back_form label,.call_back_form .button_wrap {-ms-flex-preferred-size: 100%;flex-basis: 100%;}
.call_back_form input {height: 50px;border: 1px solid #DBDBDB;border-radius: 3px;margin-bottom: 7px;width: 100%;text-indent: 14px;}
.call_back_form input::-webkit-input-placeholder {font-size: 14px;opacity: 1;color: #999;}
.call_back_form input:-moz-placeholder {font-size: 14px;opacity: 1;color: #999;}
.call_back_form input::-moz-placeholder {font-size: 14px;opacity: 1;color: #999;}
.call_back_form input:-ms-input-placeholder {font-size: 14px;opacity: 1;color: #999;}
.call_back_form .required_block {position: relative;}
.call_back_form .required_block::after {content: '';position: absolute;top: 19px;right: 21px;width: 11px;height: 11px;background-image: url(../images/input_required.svg);background-size: contain;background-repeat: no-repeat;color: #0095FE;}
.call_back_form .button_wrap {margin-top: 15px;text-align: center}
.call_back_form .button_wrap .button {cursor: pointer;padding: 16px 57px 12px 57px;border: none;background-color: #0095FE;border-radius: 30px;-webkit-box-shadow: 0 0 16px 0 rgba(0, 149, 254, 0.41);box-shadow: 0 0 16px 0 rgba(0, 149, 254, 0.41);-webkit-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;color: #fff;font-size: 21px;position: relative;line-height: 1;display: inline-block}
#contact-form__result {width: 100%;text-align: center}
/*
* contact_us
*/
.contact-us {text-align: center;color: #fff;background-color: #141c23}
.contact-us-icons{background: #000e3a;background: -moz-linear-gradient(137deg, #000e3a 0%, #002973 100%);background: -webkit-linear-gradient(137deg, #000e3a 0%,#002973 100%);background: linear-gradient(137deg, #000e3a 0%,#002973 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000e3a', endColorstr='#002973',GradientType=1 );}
.contact-us__item {display: flex;align-items: flex-start}
.contact-us__item .item_right {padding-left: 30px;text-align: left}
.contact-us__item .item_right h3 {font-size: 28px;font-weight: 400}
.contact-us__item .item_right a {font-size: 16px;color: #fff}
.contact-us__item .item_right a.item_right__email {display: block;color: #0095fe;padding-bottom: 3px}
.contact-us__map {width: 1323px;margin: 40px 0 0 -73px;position: relative}
.contact-us__map img {width: 100%;height: auto}
.map__item {position: absolute;text-align: left;border-right: 1px solid transparent;border-top: 1px solid transparent;transition: .5s}
.map__item_marker {position: absolute;right:-25px;bottom:-25px;width: 80px;height: 80px;background-image: url('../images/marker_map.png');cursor: pointer}
.map__item_adress {width: 0;height: 0; background-color: #0095fe;padding: 1px;font-size: 16px;transition: .5s;overflow: hidden}
.map__item_adress span {display: block;font-size: 24px}
.map__item_adress adress {display: block;font-size: 14px}
.map_moscow {right: 43.61%;bottom: 70.81%}
.map_novosibirsk {right: 30.08%;bottom: 70.19%}
.map_yakutsk {right: 16.78%;bottom: 74.53%}
.map_irkutsk {right: 24.49%;bottom: 66.3%}
.map_surgut {right: 32.43%;bottom: 72.83%}
.map_gornoaltai {right: 29.1%;bottom: 64.13%}
.map_bgora {right: 12.17%;bottom: 81.37%}
.map_norilsk {right: 28.19%;bottom: 83.39%}
.map__item:hover {border-right: 1px solid #0095fe;border-top: 1px solid #0095fe;padding: 0 35px 55px 0}
.map__item:hover .map__item_adress {padding: 10px 20px;width: auto;height: auto}

.rewiews_content svg{max-width:680px;}

/*
* footer
*/
.footer {background-color: #141c23;color: #fff;overflow: hidden;text-align:center;}
.footer a {color: #fff}
.footer p a {text-decoration: underline}
.footer__top {line-height: 84px;border-bottom: 1px solid rgba(187,187,187,.2);margin-bottom: 35px;justify-content: flex-end}
.footer__top_nav ul {margin: 0;padding: 0}
.footer__top_nav ul li {display: inline-block;margin-right: 50px}
.footer__top_right>div {display: inline-block}
.top_right__language a {display: inline-block;margin-right: 30px;width: 34px;height: 34px;line-height: 34px;background-color: #7c7b7b;border-radius: 17px;color: #1d1d1d;text-align: center}
.top_right__soc img {margin-left: 30px}
.footer__bottom {flex-wrap: nowrap}
.footer__bottom_payment {min-width: 270px;text-align: right}
.footer__bottom_payment img {margin-left: 20px}

/* Adaptive */


/*@media screen and (max-width: 1470px) and (min-width: 1150px) {
    .lowpadding {padding-right: 0 35px; padding-left:35px;}
}
*/

@media all and (min-width: 1200px) and (max-width:1920px) {
        .first-screen {background: url(../images/bg-half-notext.jpg) no-repeat top; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; text-align:center; }
}

@media all and (max-width: 1199px){
    .contact-us__map {width: 940px;margin: 40px 0 0 -15px}
    .contact-us__item .item_right h3 {font-size: 24px}
    .contact-us__item img {max-height: 48px;width: auto}
    .contact-us__item .item_right {padding-left: 15px}
    .contact-us__items.row {margin-left: -30px;margin-right: -30px}
    .footer {padding-bottom: 20px}
}
@media all and (max-width: 979px){
    .contact-us__item {flex-wrap: wrap;justify-content: center}
    .contact-us__item .item_right {width: 100%;padding: 0;text-align: center;margin-top: 15px}
    .contact-us__map {width: 718px;margin: 40px 0 0 -15px}
    .map__item:hover .map__item_adress {padding: 5px 10px}
    .map__item_adress adress {font-size: 12px}
    .map__item_adress span {font-size: 19px}
    .map__item:hover {padding: 0 35px 25px 0}
    .contact-us__item img {max-height: 35px;width: auto}
    .footer__bottom {flex-wrap: wrap}
    .footer__bottom_payment {text-align: left}
    .footer__bottom_payment img {margin-left: 0;margin-right: 20px}
}
@media all and (max-width: 767px){
    .contact-us__map {display: none}
    .contact-us__item {margin-bottom: 40px}
    .contact-us__item:last-child {margin-bottom: 0}
    .footer__top_right {width: 100%;text-align: center}
    .top_right__soc img:first-child {margin-left: 0}
    .footer__bottom_payment {text-align: center}
    .footer__bottom_payment img:last-child {margin-right: 0}
}

/*foo*/
@media only screen and (min-width: 768px) {
    .reviews {position: relative;}
    .reviews .owl-carousel .owl-next,.reviews .owl-carousel .owl-prev {display: block;position: absolute;width: 14px;height: 25px;background-image: url(../images/reviews_arrows_iconset.png);background-repeat: no-repeat;background-size: 30px 50px;width: 15px;height: 25px;-webkit-transition: -webkit-transform .2s;transition: -webkit-transform .2s;-o-transition: transform .2s;transition: transform .2s;transition: transform .2s, -webkit-transform .2s;top: 44%}
    .reviews .owl-carousel .owl-next:hover,.reviews .owl-carousel .owl-prev:hover {-webkit-transform: scale(1.2);-ms-transform: scale(1.2);transform: scale(1.2)}
    .reviews .owl-carousel .owl-next:active,.reviews .owl-carousel .owl-prev:active {-webkit-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1)}
    .reviews .owl-carousel .owl-next {right: 0;background-position: top right}
    .reviews .owl-carousel .owl-next:hover {background-position: bottom right}
    .reviews .owl-carousel .owl-prev {left: 0;background-position: top left}
    .reviews .owl-carousel .owl-prev:hover {background-position: bottom left;/*top: 44%*/}
    .reviews h3 {font-size: 36px;margin-bottom: 12px}
    .reviews p {font-size: 16px;padding: 0 10%;letter-spacing: 0.6px;line-height: 1.75;margin-bottom: 23px}
    .reviews .owl-dots {margin-top: 24px}
    .client_photo {width: 137px}
    .client_photo::after {width: 52px;height: 30px;right: -16px}
    .our_team {padding: 42px 0 43px}
    .taem_item {-ms-flex-preferred-size: auto;flex-basis: auto;width: 50%;margin-bottom: 54px}
    .taem_item h3 {font-size: 28px;margin: 0px 0 9px}
    .taem_item img {margin-bottom: 24px}
    .taem_item span {margin-bottom: 10px}
    .taem_item p {display: block;font-size: 14px;padding: 0 51px;line-height: 1.5;letter-spacing: -0.1px}
    .taem_item_2 {-webkit-box-ordinal-group: 4;-ms-flex-order: 3;order: 3}
    .taem_item_2 {-webkit-box-ordinal-group: 3;-ms-flex-order: 2;order: 2}
    .taem_item_2,.taem_item_4 {margin-bottom: 0}
    .taem_item_2 span,.taem_item_4 span {margin-bottom: 17px}
    .main_form {padding: 41px 0 43px}
    .main_form h2 {line-height: 1.35;margin-bottom: 34px}
    .call_back_form label {-ms-flex-preferred-size: 31.6%;flex-basis: 31.6%}
    .call_back_form input {text-indent: 19px}
    .call_back_form .button_wrap {margin-top: 25px}
    .call_back_form .button_wrap .button {padding-right: 83px;padding-left: 83px}
    .calculation .earnings_item .button {padding-right: 0;padding-left:0}
    .payments__item{/*max-width:100%;*/}
}

@media only screen and (min-width: 980px) {
    .reviews {}
    .reviews .owl-carousel .owl-next,.reviews .owl-carousel .owl-prev {top: 25%}
    .reviews .owl-dots {position: relative;text-align: center}
    .reviews_carousel_item {display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-pack: distribute;justify-content: space-around}
    .reviews_carousel_item .rewiews_content {-ms-flex-preferred-size: 70%;flex-basis: 70%;/*padding-left: 56px*/}
    .reviews_carousel_item .rewiews_content h4,.reviews_carousel_item .rewiews_content h3,.reviews_carousel_item .rewiews_content p {text-align: left}
    .reviews_carousel_item .rewiews_content p {padding: 0;margin-bottom: 24px;letter-spacing: 0px;padding-right: 52px}
    .reviews_carousel_item .rewiews_content h4 {width: 100%;padding-left: 24px}
    .reviews_carousel_item .rewiews_content h4:before {left: 0}
    .our_team {padding: 38px 0 0px}
    .our_team h2 {letter-spacing: 1px;margin-bottom: 57px}
    .taem_item {text-align: left;margin-bottom: 59px}
    .taem_item img,.taem_item .team_item_content,.taem_item h3,.taem_item p {display: inline-block}
    .taem_item p {padding: 0}
    .taem_item img {vertical-align: top;margin-right: 17px;margin-left: 4px;margin-top: 10px}
    .team_item_content {width: 255px;text-align: left}
    .taem_item_2,.taem_item_3 {padding-left: 10px}
    .main_form {padding: 39px 0 65px}
    .main_form h2 {line-height: 1.3;letter-spacing: 1px;margin-bottom: 58px}
    .call_back_form input {height: 54px}
    .call_back_form input::-webkit-input-placeholder {font-size: 16px}
    .call_back_form input::-moz-placeholder {font-size: 16px}
    .call_back_form input:-moz-placeholder {font-size: 16px}
    .call_back_form input:-ms-input-placeholder {font-size: 16px}
    .call_back_form .button_wrap {margin-top: 39px}
    .call_back_form .button_wrap .button {padding: 20px 105px;font-size: 24px}
    .calculation .earnings_item .button {padding: 16px 57px 12px 57px;}
}

@media only screen and (min-width: 1600px) {
    .reviews {}
    .reviews .owl-carousel .owl-next,.reviews .owl-carousel .owl-prev {top: 27%}
    .reviews .owl-carousel .owl-prev {left: 8px}
    .reviews .owl-carousel .owl-next {right: -3px}
    .reviews .owl-dots {text-align: center;position: relative}
    .reviews_carousel_item .client_photo {-ms-flex-preferred-size: 161px;flex-basis: 161px;margin-left: 131px}
    .reviews_carousel_item .rewiews_content {padding-left: 56px}
    .reviews_carousel_item .rewiews_content p {padding: 0;margin-bottom: 39px;line-height: 1.65;padding-right: 70px;font-size: 18px}
    .reviews_carousel_item .rewiews_content h4 {width: 100%;padding-left: 27px}
    .reviews_carousel_item .rewiews_content h4:before {left: 3px}
    .our_team {padding: 45px 0 41px}
    .our_team h2 {margin-bottom: 57px}
    .taem_item {margin-bottom: 48px}
    .taem_item p {padding: 0;font-size: 16px;letter-spacing: 0.4px}
    .taem_item p .br_xl {display: block}
    .taem_item img {vertical-align: top;margin-right: 56px;margin-left: 0px;margin-top: 14px;width: 170px}
    .team_item_content {width: 295px;margin-top: 27px}
    .team_item_content h3 {display: block}
    .taem_item_2,.taem_item_3 {padding-left: 15px}
    .taem_item_2 p,.team_item_4 p {padding-right: 4px}
    .main_form {padding: 70px 0 72px}
    .main_form h2 {letter-spacing: 1.1px;margin-bottom: 66px}
    .call_back_form input {text-indent: 22px}
    .call_back_form .button_wrap {margin-top: 40px}
}

@media all and (max-width: 480px){
        .header__location>div>img{display: none;}
        .our-advantage__item img{max-width:200px;}
        .our-advantage__item:nth-child(2){margin-top:10px;}
        .our-advantage__item:nth-child(3){margin-top:10px;}
        .button_hidden{display:inline-block;}
        .standart-miner .carousel-element{padding:0;}
    }


@media all and (max-width: 950px){
    .videoContainer .overlay .container {bottom: 25%;}
}

@media all and (max-width: 480px){

    .tera-pods__play, .tera-pods__description{display:none;}
    .tera-pods__mobile{display:block;}
    .tera-pods .block__title{text-align:center;margin: 20px auto 10px;font-size: 16px;}
}

@media all and (max-width: 400px) {
    .videoContainer .overlay .container {position: relative; margin: 0 auto; bottom:0;}
    .tera-pods .block__title{font-size: 11px;    margin: 10px auto 10px;}
}



@media (min-width: 300px){
    .payments__item{max-width:100%;padding: 59px 0 32px 0;}
    .img-eth-1{max-height: 80px;}
}
.img-visa{    max-height: 53px;}
.img-mcard{    max-height: 68px;}
.img-btc{    min-height: 70px;}
.img-eth{max-height: 100px;}

.payments__item img{vertical-align: middle;}