/* block1 () */
@media screen and (max-width: 1180px){
	.block1 .b1 {
		margin: 0 1%;
	}

	.block1 .nav {
		margin: 17px 1%;
	}
}

@media screen and (max-width: 1070px){
	.block1 .nav .i .hint h4 {
		font-size: 20px;
	}
}

@media screen and (max-width: 840px){
	.block1 .f {
		-webkit-flex-direction: column-reverse;
		-moz-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		-o-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}

	.block1 .b1 h3 {
		padding-top: 30px;
	}

	.block1 .nav {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-around;
	}

	.block1 .nav>div {
		margin: 0 1%;
	}
}

@media screen and (max-width: 820px){
	.block1 .b1 {
		width: 98%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 610px){
	.block1 .nav .i .hint h4 {
		font-size: 16px;
		padding-top: 10px;
	}

	.block1 .nav .i .hint p {
		font-size: 10px;
	}
}

@media screen and (max-width: 525px){
	.block1 .b1 .wp-a .b-a .arrow {
		display: none;
	}
}

@media screen and (max-width: 480px){
	.block1 .b1 .wp-a a {
		width: 96%;
	}

	.block1 .b1 .wp-a .b-a {
		width: 100%;
	}

	.block1 .b1 .wp-a .b-a p {
		padding: 17px 10px;
	}

	.block1 .nav {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		margin: 0 0;
	}

	.block1 .nav>div {
		margin: 0;
	}

	.block1 .nav .i {
		display: none;
	}

	.block1 .nav .h3z {
		color: #A1AADE;
	}

	.block1 .nav h3 {
		padding: 20px 5px 0;
	}
}
/* The and block1 () */

/* blockf (Футер) */
@media screen and (max-width: 1200px){
	.blockf .b1 {
		margin-left: 1%;
		margin-right: 1%;
	}

	.blockf .b2 {
		margin-left: 1%;
		margin-right: 1%;
	}
}

@media screen and (max-width: 900px){
	.blockf .f {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.blockf .b1 {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.blockf .b1-b:first-child {
		-webkit-order: 1;
		-moz-order: 1;
		-ms-order: 1;
		-o-order: 1;
		order: 1;
	}

	.blockf .b1-b:nth-child(2n) {
		-webkit-order: 2;
		-moz-order: 2;
		-ms-order: 2;
		-o-order: 2;
		order: 2;
	}

	.blockf .b1-b p {
		text-align: center;
	}

	.blockf .b1 {
		width: 98%;
	}

	.blockf .b1-b {
		width: 100%;
	}

	.blockf .b2 {
		width: 98%;
	}

	.blockf .soc {
		justify-content: center;
	}

	.blockf .b2 p {
		text-align: center;
	}

	.blockf .soc a {
		margin: 0 2%;
	}
}

@media screen and (max-width: 375px){
	.blockf .p1 {
		padding-left: 3%;
		padding-right: 3%;
	}
}
/* The and blockf (Футер) */