@import url(reset.css);
@import url(fonts.css);

#wrapper {
	min-width: auto;
}

.content {
	max-width: 1170px;
	position: relative;
	margin: 0 auto;
}

.clear {
	clear: both;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

/* block1 () */
.block1 {
	color: #232C60;
}

.block1 .f {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding-bottom: 70px;
}

.block1 .b1 {
	width: 800px;
}

.block1 .b1 h3 {
	font: 24px 'MontserratBold', sans-serif;
	padding-top: 51px;
}

.block1 .b1 .p1 {
	font: 20px 'MontserratMedium', sans-serif;
	padding-top: 31px;
	letter-spacing: 0.5px;
	line-height: 1.5em;
}

.block1 .b1 .p2 {
	font: 18px 'MontserratMedium', sans-serif;
	padding-top: 31px;
	letter-spacing: 0.5px;
	line-height: 1.5em;
}

.block1 .b1 .wp_video {
	margin-top: 39px;
	border-radius: 30px;
	border: 10px solid #fff;
	box-shadow: 0 0 30px rgba(0,0,0,0.3);
}

.block1 .b1 .video {
	border-radius: 23px;
	overflow: hidden;
}

.block1 .b1 .video iframe {
	max-width: 100%;
	height: 450px;
	vertical-align: bottom;
}

.block1 .b1 .wp-a {
	margin-top: 41px;
	text-align: center;
}

.block1 .b1 .wp-a a {
	text-decoration: none;
	color: #fff;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	border: 1px solid #ED1D24;
	border-radius: 30px;
	padding: 6px;
}

.block1 .b1 .wp-a .b-a {
	background: #ED1D24;
	border-radius: 5px;
	display: inline-block;
	border-radius: 30px;
	-webkit-box-shadow: 0 30px 70px #FDE4E5;
	box-shadow: 0 30px 70px #FDE4E5;
}

.block1 .b1 .wp-a .b-a p {
	font: 16px "MontserratBold", sans-serif;
	letter-spacing: 2px;
	padding: 17px 40px 17px 40px;
	color: #fff;
	display: inline-block;
}

.block1 .b1 .wp-a .b-a .arrow {
	display: inline-block;
	margin-right: 26px;
}

.block1 .b1 .wp-a a:hover {
	border-color: #fff;
}

.block1 .nav {
	margin-top: 17px;
}

.block1 .nav h3 {
	font: 18px 'MontserratBold', sans-serif;
	padding: 24px 0 0 28px;
}

.block1 .nav h3 a {
	color: #232C60;
	text-decoration: none;
}

.block1 .nav .h3z {
	color: #606D88;
}

.block1 .nav .i {
	position: relative;
	margin-top: 10px;
}

.block1 .nav .iz {
	cursor: pointer;
}

.block1 .nav .i img {
	border-radius: 22px;
	-webkit-box-shadow: 7px 7px 18px rgba(0.2);
	box-shadow: 7px 7px 18px rgba(0,0,0,0.2);
}

.block1 .nav .i .bz {
	background: #151c48;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	border-radius: 22px;
}

.block1 .nav .i .hint {
	position: absolute;
	width: 100%;
	height: 100%;
	color: #232C60;
	z-index: 9;
	background: url(../images/iz_fon.png) repeat;
	border-radius: 21px;
}

.block1 .nav .i .hint h4 {
	font: 26px 'MontserratBold', sans-serif;
	padding: 20px 11% 0;
}

.block1 .nav .i .hint p {
	font: 12px 'Montserrat', sans-serif;
	padding: 10px 11% 0;
}

.block1 .nav .h3z .hint {
	color: #fff;
	z-index: 9;
	background: url(../images/h3z_fon.png) repeat;
	padding-bottom: 10px;
}

.block1 .nav .h3z .hint h4 {
	font: 18px 'MontserratBold', sans-serif;
	padding: 10px 2% 0;
}

.block1 .nav .h3z .hint p {
	font: 11px 'Montserrat', sans-serif;
	padding: 10px 2% 0;
}
/* The and block1 () */

/* blockf (Футер) */
.blockf {
	background: #F2F2FA;
	padding-bottom: 58px;
}

.blockf p {
	font: 14px 'Montserrat', sans-serif;
	line-height: 1.22em;
	color: #5C5C5C;
}

.blockf .p1 {
	text-align: center;
	padding: 47px 23% 0;
}

.blockf .f {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.blockf .b1 {
	width: 770px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 15px;
}

.blockf .b1-b {
	width: 45%;
	margin-top: 30px;
}

.blockf .b1-b:nth-child(2n) p {
	text-align: center;
}

.blockf .b2 {
	width: 302px;
	margin-top: 37px;
}

.blockf .b2 p {
	text-align: right;
	padding-top: 8px;
}

.blockf .b2 p a {
	color: #5C5C5C;
}

.blockf .soc {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: 14px;
}
/* The and blockf (Футер) */