<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

#Redirect 301 /league/index.html https://proprodazhy.ru/league/price-2.html
#Redirect 301 /league/zayvka.html https://proprodazhy.ru/league/price-2.html




</IfModule>