/* block1 (Шапка) */
@media screen and (max-width: 1190px){
	.block1 .log {
		margin-left: 2%;
	}

	.block1 .f {
		margin: 95px 2% 0;
	}
}

@media screen and (max-width: 870px){
	.block1 {
		background: none;
	}

	.block1 .log {
		justify-content: center;
	}

	.block1 .f {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		margin-top: 50px;
	}

	.block1 .num {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		padding-bottom: 0;
		width: 98%;
		-ms-align-items: center;
		align-items: center;
	}

	.block1 .num .vpl {
		width: 89px;
		height: 2px;
		margin: 0 2% 0;
	}

	.block1 .q {
		margin: 20px 0 0 0;
	}

	.block1 .q .wp-a {
		text-align: center;
	}
}

@media screen and (max-width: 460px){
	.block1 .q {
		width: 98%;
		text-align: center;
	}

	.block1 .q h3 {
		font-size: 50px;
		letter-spacing: 2px;
	}

	.block1 .q h2 {
		font-size: 70px;
		letter-spacing: 2px;
	}
}

@media screen and (max-width: 425px){
	.block1 .q .wp-a a {
		width: 98%;
	}

	.block1 .q .wp-a .b-a {
		width: 100%;
	}

	.block1 .q .wp-a .b-a p {
		padding: 14px 10px;
	}

	.block1 .q .wp-a .b-a .arrow {
		display: none;
	}
}

@media screen and (max-width: 375px){
	.block1 .log {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		text-align: center;
	}

	.block1 .log p {
		padding: 10px 0 0 0;
	}

	.block1 .q h3 {
		font-size: 35px;
	}

	.block1 .q h2 {
		font-size: 50px;
	}
}
/* The and block1 (Шапка) */

/* block2 (Меньше слов, больше дела) */
@media screen and (max-width: 1180px){
	.block2 .num {
		margin: 146px 1% 0;
	}

	.block2 .b {
		margin: 0 1%;
	}

	.block2 .i1 {
		margin: 109px 1% 0;
	}
}

@media screen and (max-width: 950px){
	.block2 .i1 {
		display: none;
	}
}

@media screen and (max-width: 768px){
	.block2 .num {
		margin-top: 60px;
		justify-content: center;
	}

	.block2 h2 {
		padding: 30px 0 0 0;
		text-align: center;
	}

	.block2 .b li p {
		padding: 24px 1% 0 0;
	}
}

@media screen and (max-width: 425px){
	.block2 h2 {
		font-size: 30px;
	}

	.block2 .b .p1 {
		font-size: 150px;
		margin-top: -10px;
	}

	.block2 .b .p2 {
		margin-top: -126px;
		padding: 0 0 0 40px;
	}

	.block2 .b li {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.block2 .b li .q {
		margin: 30px 2% 0;
		text-align: center;
	}
}
/* The and block2 (Меньше слов, больше дела) */

/* block3 (Для кого) */
@media screen and (max-width: 1180px){
	.block3 .num {
		margin: 86px 1% 0;
	}
}

@media screen and (max-width: 768px){
	.block3 h2 {
		padding: 20px 0 0 0;
		text-align: center;
	}

	.block3 .num {
		justify-content: center;
	}
}

@media screen and (max-width: 425px){
	.block3 h2 {
		font-size: 30px;
	}
}
/* The and block3 (Для кого) */

/* block4 (7 ключевых элементов) */
@media screen and (max-width: 1180px){
	.block4 .num {
		margin: 145px 1% 0;
	}
}

@media screen and (max-width: 1024px){
	.block4 .i1 {
		display: none;
	}
}

@media screen and (max-width: 768px){
	.block4 .num {
		justify-content: center;
	}

	.block4 h2 {
		text-align: center;
		padding: 20px 0 0 0;
	}

	.block4 .b {
		width: 90%;
	}
}

@media screen and (max-width: 522px){
	.block4 .wp-a a {
		width: 92%;
	}

	.block4 .wp-a .b-a {
		width: 100%;
	}

	.block4 .wp-a .b-a p {
		padding: 17px 5px 17px 5px;
	}

	.block4 .wp-a .b-a .arrow {
		display: none;
	}
}

@media screen and (max-width: 425px){
	.block4 h2 {
		font-size: 30px;
	}

	.block4 .b h3 {
		font-size: 30px;
	}

	.block4 .b h4 {
		font-size: 23px;
	}
}
/* The and block4 (7 ключевых элементов) */

/* block5 (Дополнительные материалы) */
@media screen and (max-width: 1180px){
	.block5 .num {
		margin: 145px 1% 0;
	}

	.block5 .f .i {
		width: 20.17%;
	}
}

@media screen and (max-width: 768px){
	.block5 .num {
		justify-content: center;
	}

	.block5 h2 {
		text-align: center;
		padding: 20px 0 0 0;
	}

	.block5 .f {
		margin: 0 auto;
		justify-content: space-between;
	}

	.block5 .f .i {
		width: 41.545%;
		text-align: center;
	}

	.block5 .f4 .i {
		margin: 0;
	}

	.block5_p1 {
		padding: 58px 2% 0;
	}

	.block5 h3 {
		padding: 52px 2% 63px;
	}

	.block5 .f .i3 {
		margin-top: -19.4%;
	}

	.block5 .f .i4 {
		margin-top: 72px;
	}

	.block5 .f .i5 {
		margin-top: -3.2%;
	}

	.block5 .f .i6 {
		margin-top: 72px;
	}

	.block5 .f .i7 {
		margin-top: -22.3%;
	}

	.block5 .f .i8 {
		margin-top: 72px;
	}

	.block5 .f .i9 {
		margin-top: -15.5%;
	}

	.block5 .f .i10 {
		margin-top: 72px;
	}

	.block5 .f .i11 {
		margin-top: -7.2%;
	}

	.block5 .f .i12 {
		margin-top: 72px;
	}

	.block5 .f .i13 {
		margin-top: -5.6%;
	}

	.block5 .f .i14 {
		margin-top: 72px;
	}

	.block5 .f .i15 {
		margin-top: 50px;
	}
}

@media screen and (max-width: 425px){
	.block5 h2 {
		font-size: 30px;
	}

	.block5_p1 {
		text-align: center;
	}

	.block5 h3 {
		font-size: 25px;
		text-align: center;
	}

	.block5 .f {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.block5 .f .i {
		margin: 50px auto 0;
		width: 98%;
	}
}
/* The and block5 (Дополнительные материалы) */

/* block6 (Примеры и разборы) */
@media screen and (max-width: 1170px){
	.block6 h2 {
		padding: 83px 0 68px 0;
		text-align: center;
	}

	.block6 .f {
		margin: 0;
	}

	.block6 .f .i {
		margin-left: 1%;
		margin-right: 1%;
	}
}

@media screen and (max-width: 1024px){
	.block6 .f .i {
		width: 28.29%;
	}
}

@media screen and (max-width: 768px){
	.block6 h2 {
		padding-bottom: 0;
	}

	.block6 .f {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.block6 .f .i {
		width: 98%;
		text-align: center;
		margin: 70px auto 0;
	}
}
/* The and block6 (Примеры и разборы) */

/* block7 (Подробная интеллект-карта) */
@media screen and (max-width: 375px){
	.block7 .wp-a a {
		width: 90%;
	}

	.block7 .wp-a .b-a {
		width: 100%;
	}

	.block7 .wp-a .b-a p {
		padding: 14px 10px;
	}

	.block7 .wp-a .b-a .arrow {
		display: none;
	}
}
/* The and block7 (Подробная интеллект-карта) */

/* block8 (Автор) */
@media screen and (max-width: 1180px){
	.block8 .num {
		margin: 146px 1% 0;
	}
}

@media screen and (max-width: 1024px){
	.block8 .f .b {
		margin: 0 1%;
	}

	.block8 .f .i1 {
		margin: 0 1% 0 120px;
	}

	.block8 .c {
		margin: 23px auto 0;
	}

	.block8 .h3 {
		padding: 84px 1% 0;
	}

	.block8 .r {
		margin: 48px auto 0;
	}
}

@media screen and (max-width: 950px){
	.block8 .c, .block8 .r {
		width: 98%;
	}
}

@media screen and (max-width: 768px){
	.block8 .num {
		justify-content: center;
	}

	.block8 h2 {
		text-align: center;
		padding: 20px 1% 0;
	}

	.block8 .f {
		-webkit-flex-direction: column-reverse;
		-moz-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		-o-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}

	.block8 .f .b {
		width: 98%;
		margin: 30px auto 0;
	}

	.block8 .f .b h3 {
		text-align: center;
	}

	.block8 .f .b h4 {
		text-align: center;
	}

	.block8 .f .i1 {
		width: 98%;
		margin: 0 auto;
		text-align: center;
	}

	.block8 .c {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		border: none;
	}

	.block8 .c .b {
		width: 345px;
		border: 2px solid #DADADA;
		border-top: none;
		margin: 0 auto;
	}

	.block8 .c .b1 {
		border-top: 2px solid #DADADA;
	}

	.block8 .h3 {
		text-align: center;
	}

	.block8 .r {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		border: none;
	}

	.block8 .r .b {
		width: 470px;
		border: 2px solid #DADADA;
		border-top: none;
		margin: 0 auto;
	}

	.block8 .r .b1 {
		border-top: 2px solid #DADADA;
	}
}

@media screen and (max-width: 480px){
	.block8 .r .b {
		width: 90%;
	}

	.block8 .r .b h3 {
		padding: 35px 10px 0;
	}

	.block8 .r .b p {
		padding: 30px 10px 0;
	}
}

@media screen and (max-width: 350px){
	.block8 h2 {
		font-size: 35px;
	}

	.block8 .c .b {
		width: 90%;
	}

	.block8 .c .b h3 {
		padding: 34px 10px 0;
	}

	.block8 .c .b p {
		padding: 19px 10px 0;
	}
}
/* The and block8 (Автор) */

/* block9 (Отзывы) */
@media screen and (max-width: 1180px){
	.block9 .num {
		margin: 146px 1% 0;
	}
}

@media screen and (max-width: 900px){
	.block9 .i img {
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	.block9 .slider {
		margin-top: 50px;
		padding-top: 30px;
	}

	.block9 .slider-arrow--right {
		bottom: 100%;
		right: 30px;
	}

	.block9 .slider-arrow--left {
		bottom: 100%;
		left: 30px;
	}
}

@media screen and (max-width: 768px){
	.block9 .num {
		justify-content: center;
	}

	.block9 h2 {
		text-align: center;
		padding: 20px 0 0 0;
	}

	.block9 .i {
		min-height: 353px;
	}

	.block9 .slider-arrow {
		width: 50px;
		height: 41px;
		-webkit-background-size: cover;
		background-size: cover;
	}
}

@media screen and (max-width: 600px){
	.block9 .i {
		min-height: 276px;
	}
}

@media screen and (max-width: 500px){
	.block9 .i {
		min-height: 230px;
	}
}

@media screen and (max-width: 400px){
	.block9 h2 {
		font-size: 35px;
	}

	.block9 .i {
		min-height: 184px;
	}

	.block9 .slider-nav {
		position: relative;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		margin-left: 0 !important;
		width: 98% !important;
		left: 0 !important;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: center;
	}

	.block9 .slider-nav__item {
		margin-top: 5px;
	}
}
/* The and block9 (Отзывы) */

/* block10 (Результат) */
@media screen and (max-width: 1180px){
	.block10 .num {
		margin: 146px 1% 0;
	}
}

@media screen and (max-width: 768px){
	.block10 .num {
		justify-content: center;
	}

	.block10 h2 {
		text-align: center;
		padding: 20px 0 0 0;
	}

	.block10 .f {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.blcok10 .f .i1 {
		margin: 0 auto;
		text-align: center;
	}

	.block10 .f .b {
		margin: 30px auto;
	}
}

@media screen and (max-width: 475px){
	.block10 .f .b {
		width: 96%;
	}

	.block10 .f .b li p {
		padding: 0 0 0 35px;
	}
}
/* The and block10 (Результат) */

/* block11 (Цены) */
@media screen and (max-width: 1180px){
	.block11 .num {
		margin: 146px 1% 0;
	}
}

@media screen and (max-width: 950px){
	.block11 .f {
		width: 94%;
	}

	.block11 .f .b {
		width: 50%;
	}
}

@media screen and (max-width: 768px){
	.block11 .num {
		justify-content: center;
	}

	.block11 h2 {
		text-align: center;
		padding: 20px 0 0 0;
	}

	.block11 .f {
		display: block;
	}

	.block11 .f .b {
		width: 470px;
		margin: 0 auto;
	}

	.block11 .f .b1 {
		border: 2px solid #DADADA;
		border-bottom: none;
	}
}

@media screen and (max-width: 500px){
	.block11 .f {
		width: 100%;
	}

	.block11 .f .b {
		width: 96%;
	}
}

@media screen and (max-width: 425px){
	.block11 h2 {
		font-size: 35px;
	}

	.block11 .f .b h3 {
		font-size: 30px;
	}

	.block11 .f .b .wp-a a {
		width: 90%;
	}
}

@media screen and (max-width: 320px){
	.block11 .f .b .p1 span {
		display: inline-block;
	}

	.block11 .f .b .p2 span {
		display: inline-block;
	}

	.block11 .f .b .wp-a a {
		width: 96%;
	}

	.block11 .f .b .wp-a .b-a .arrow {
		display: none;
	}
}
/* The and block11 (Цены) */

/* block12 (Еще отзывы участников) */
@media screen and (max-width: 1180px){
	.block12 .num {
		margin: 0 1% 0;
	}
}

@media screen and (max-width: 768px){
	.block12 .num {
		justify-content: center;
	}

	.block12 h2 {
		text-align: center;
		padding: 20px 0 0 0;
	}

	.block12 .b1 {
		width: 96%;
	}

	.block12 .b2 {
		width: 96%;
	}
}

@media screen and (max-width: 550px){
	.block12 .b1 .d, .block12 .b2 .d {
		display: none;
	}

	.block12 .b1 .i, .block12 .b2 .i {
		margin: 0 auto;
	}
}

@media screen and (max-width: 375px){
	.block12 h2 {
		font-size: 35px;
	}
}
/* The and block12 (Еще отзывы участников) */

/* blockf (Футер) */
@media screen and (max-width: 1200px){
	.blockf .b1 {
		margin-left: 1%;
		margin-right: 1%;
	}

	.blockf .b2 {
		margin-left: 1%;
		margin-right: 1%;
	}
}

@media screen and (max-width: 900px){
	.blockf .f {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.blockf .b1 {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.blockf .b1-b:first-child {
		-webkit-order: 1;
		-moz-order: 1;
		-ms-order: 1;
		-o-order: 1;
		order: 1;
	}

	.blockf .b1-b:nth-child(2n) {
		-webkit-order: 2;
		-moz-order: 2;
		-ms-order: 2;
		-o-order: 2;
		order: 2;
	}

	.blockf .b1-b p {
		text-align: center;
	}

	.blockf .b1 {
		width: 98%;
	}

	.blockf .b1-b {
		width: 100%;
	}

	.blockf .b2 {
		width: 98%;
	}

	.blockf .soc {
		justify-content: center;
	}

	.blockf .b2 p {
		text-align: center;
	}

	.blockf .soc a {
		margin: 0 2%;
	}
}

@media screen and (max-width: 375px){
	.blockf .p1 {
		padding-left: 3%;
		padding-right: 3%;
	}
}
/* The and blockf (Футер) */





/* block13 */

@media screen and (max-width: 1190px){
	.block13 .log {
		margin-left: 5%;
    margin-right: 5%;
	}

	.block13 .f {
		margin: 95px 2% 0;
	}
}

@media screen and (max-width: 870px){


	.block13 .log {
		justify-content: center;
	}

	.block13 .f {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		margin-top: 30px;
	}

	.block13 .num {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		padding-bottom: 0;
		width: 98%;
		-ms-align-items: center;
		align-items: center;
		margin-bottom: 20px;
	}

	.block13 .num .vpl {
		width: 89px;
		height: 2px;
		margin: 0 2% 0;
	}

	.block13 .q {
		margin: 20px 0 0 0;
	}

	.block13 .q .wp-a {
		text-align: center;
	}
}

@media screen and (max-width: 768px){

.block13 .f .flex-row{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		text-align: center;
}




.price-block {
    padding-top: 0;
    padding-bottom: 20px;
}

.block13 .f .flex-row .column-2{

    padding-top: 0;
flex: 1 1 auto;
align-self: center;


}

.block13 .f .flex-row .column-4 {
    padding-top: 0;
     margin-top: -50px;
flex: 1 1 auto;
    align-self: center;

	}


.block13 .logo__title h1 {
    font: 35px 'MontserratBold', sans-serif;
    padding-top: 4px;
    color: #ed1d24;
    letter-spacing: 0;
}

.block13 .log .logo__title p {
    font: 18px 'MontserratBold', sans-serif;
    letter-spacing: 0;
    padding-top: 12px;
    color: #363636;
    text-align: center;
    line-height: 1.4;
}


	.block13 .q {
		width: 98%;
		text-align: center;
	}

	.block13 .q h3 {
		font-size: 50px;
		letter-spacing: 2px;
	}

	.block13 .q h2 {
		font-size: 70px;
		letter-spacing: 2px;
	}

.block13 .log .logo, .block13 .log .logo__empty{
	align-self: center;
}

}



@media screen and (max-width: 500px){

.block13 .log .logo, .block13 .log .logo__empty{
	align-self: center;
}
	.block13 .log {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		text-align: center;
	}


	.block13 .wp-a a, .block13 .wp-b a {
	max-width:100%;
}

}



@media screen and (max-width: 425px){
	.block13 .q .wp-a a {
		width: 98%;
	}

	.block13 .q .wp-a .b-a {
		width: 100%;
	}

	.block13 .q .wp-a .b-a p {
		padding: 14px 10px;
	}

.block13 .log .logo, .block13 .log .logo__empty{
	align-self: center;
}

}

@media screen and (max-width: 375px){

	.block13 .log p {
		padding: 10px 0 0 0;
	}

	.block13 .q h3 {
		font-size: 35px;
	}

	.block13 .q h2 {
		font-size: 50px;
	}



}
/* The end block13 */