@import url(reset.css);
@import url(fonts.css);

#wrapper {
	min-width: auto;
}

.content {
	max-width: 1200px;
	position: relative;
	margin: 0 auto;
}

.clear {
	clear: both;
}

img {
	max-width: 100%;
	height: auto;
}

iframe {
	max-width: 100%;
	height: 478px;
}

.wp-a {
	text-align: center;
	margin-top: 40px;
}

.wp-a a {
	text-decoration: none;
	color: #fff;
	text-align: center;
	cursor: pointer;
}

.wp-a .b-a {
	background: #D40000;
	background: -moz-linear-gradient(top, #D40000, #AF0201);
	background: -webkit-linear-gradient(top, #D40000, #AF0201);
	background: -o-linear-gradient(top, #D40000, #AF0201);
	background: -ms-linear-gradient(top, #D40000, #AF0201);
	background: linear-gradient(top, #D40000, #AF0201);
	border-radius: 5px;
	display: inline-block;
	margin: 0 auto 3px;
	box-shadow: 0 5px 10px rgba(0,0,0,.7);
}

.wp-a .b-a p {
	font: 30px "Ubuntu Bold", sans-serif;
	padding: 14px 20px;
	color: #fff;
}

.wp-a .b-a:hover {
	margin: 3px auto 0;
	box-shadow: 0 1px 3px rgba(0,0,0,.7);
}

/*block1 (шапка)*/
.block1 {
	background: #053763;
	padding: 20px 0 30px;
}

.block1 .logo {
	float: left;
	width: 14.83%;
}

.block1 h2 {
	font: 35px 'Ubuntu Bold', sans-serif;
	padding: 18px 4% 0 17%;
	text-align: center;
	color: #fff;
}

.block1 .p1 {
	font: 30px 'Ubuntu', sans-serif;
	padding: 18px 10% 0 23%;
	text-align: center;
	color: #fff;
}
/*Зокончился block1(шапка)*/

/*trans (Трансляция)*/
.trans {
	padding: 0 0 70px;
}

.trans .p1 {
	font: 16px 'Ubuntu', sans-serif;
	text-align: center;
	padding-top: 20px;
}

.trans .video {
	width: 70.83%;
	margin: 35px 0 0 0;
	float: left;
	position: relative;
}

.trans .vb {
	position: absolute;
	/*background: red;*/
}

.trans .vb1 {
	width: 100%;
	height: 73px;
	top: 0;
	left: 0;
}

.trans .vb2 {
	width: 74px;
	height: 36px;
	bottom: 3px;
	right: 37px;
}

.trans .com {
	width: 28.5%;
	float: right;
	margin: 35px 0 0 0;
}
/*Зокончился trans(Трансляция)*/

/* contents (Кнопка) */
.contents {
	padding-bottom: 60px;
}

.contents h2 {
	font: 30px 'Ubuntu Bold', sans-serif;
	text-align: center;
	padding-top: 40px;
}

.contents h2 span {
	font-size: 48px;
	color: #053763;
}

.contents h3 {
	font: 30px 'Ubuntu Bold', sans-serif;
	padding: 30px 0 0 30px;
	text-align: center;
}

.contents p {
	font: 20px 'Ubuntu', sans-serif;
	padding-top: 30px;
	text-align: center;
}

.contents p span {
	font-family: 'Ubuntu Bold', sans-serif;
}

.contents .wp-a .b-a {
	background: #BB4C4C;
}
/* The and contents (Кнопка) */

/*entry (Вход)*/
.entry .p1 {
	text-align: center;
	font: 20px Ubuntu, sans-serif;
	padding-top: 20px;
}

.entry form {
	width: 100%;
	margin: 30px auto 0;

}

.entry input {
	display: block;
	margin: 0 auto;
	background: none;
	border: 1px solid #000;
	width: 20%;
	height: 35px;
	color: #000;
	font: 20px Ubuntu, sans-serif;
	padding: 0 2%;
	text-align: center;
	border-radius: 10px;
}

.entry button {
	display: block;
	margin: 20px auto 0;
	background: #A00800;
	border: 2px solid #850800;
	width: 15%;
	height: 35px;
	color: #fff;
	font: 20px Ubuntu, sans-serif;
	border-radius: 10px;
	cursor: pointer;
}

.entry button:hover {
	border: none;
}

.entry p {
	text-align: center;
	font: 16px Ubuntu, sans-serif;
	padding-top: 30px;
}
/*Зокончился entry(Вход)*/

/*error (Ошибка)*/
.error .p1 {
	font: 35px 'Ubuntu Bold', sans-serif;
	text-align: center;
	color: red;
	padding-top: 30px;
}
/*Зокончился error(Ошибка)*/